nifi/Create_Insert_SQL_Table.json
{"flowContents":{"identifier":"3bdd82c5-45f3-3924-b143-290cae2929fc","instanceIdentifier":"efcf66cc-018e-1000-8a87-2d92b0bd40a0","name":"Create_Insert_SQL_Table","comments":"","position":{"x":624.0,"y":184.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"11d5dd30-fbb5-3482-9d8a-bf47c7fa01a7","instanceIdentifier":"efcc4928-018e-1000-c91c-d9f809235f1d","name":"PutDatabaseRecord","comments":"","position":{"x":1104.0,"y":592.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"18f05a3a-8a23-395e-833c-873c590a7a47","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"PostgreSQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"usuarios","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"e881fcfb-0c27-30a5-9fe5-6dbb54492968","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"499c9bf8-82a6-30a3-9931-7118c3d1f23f","instanceIdentifier":"efb8f69e-018e-1000-0b5f-89fefdb50870","name":"ExecuteProcess","comments":"","position":{"x":624.0,"y":288.0},"type":"org.apache.nifi.processors.standard.ExecuteProcess","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Command":"env","Redirect Error Stream":"false","Working Directory":null,"Output MIME type":null,"Argument Delimiter":" ","Batch Duration":null,"Command Arguments":"PGPASSWORD=postgres psql -h db -U postgres -f /data/script.sql"},"propertyDescriptors":{"Command":{"name":"Command","displayName":"Command","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redirect Error Stream":{"name":"Redirect Error Stream","displayName":"Redirect Error Stream","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME type":{"name":"Output MIME type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Duration":{"name":"Batch Duration","displayName":"Batch Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"c012df7b-7c57-3f3d-963e-56b210980423","instanceIdentifier":"efbcb0cd-018e-1000-b643-88463dd3ac07","name":"UpdateDatabaseTable","comments":"","position":{"x":1096.0,"y":392.0},"type":"org.apache.nifi.processors.standard.UpdateDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"updatedatabasetable-table-name":"usuarios","updatedatabasetable-query-timeout":"0","updatedatabasetable-create-table":"Create If Not Exists","updatedatabasetable-update-field-names":"false","updatedatabasetable-quoted-column-identifiers":"false","updatedatabasetable-schema-name":"public","updatedatabasetable-dbcp-service":"18f05a3a-8a23-395e-833c-873c590a7a47","updatedatabasetable-translate-field-names":"true","updatedatabasetable-catalog-name":null,"updatedatabasetable-primary-keys":null,"db-type":"PostgreSQL","record-reader":"e881fcfb-0c27-30a5-9fe5-6dbb54492968","updatedatabasetable-quoted-table-identifiers":"false","updatedatabasetable-record-writer":null},"propertyDescriptors":{"updatedatabasetable-table-name":{"name":"updatedatabasetable-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-query-timeout":{"name":"updatedatabasetable-query-timeout","displayName":"Query Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-create-table":{"name":"updatedatabasetable-create-table","displayName":"Create Table Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-update-field-names":{"name":"updatedatabasetable-update-field-names","displayName":"Update Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-quoted-column-identifiers":{"name":"updatedatabasetable-quoted-column-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-schema-name":{"name":"updatedatabasetable-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-dbcp-service":{"name":"updatedatabasetable-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"updatedatabasetable-translate-field-names":{"name":"updatedatabasetable-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-catalog-name":{"name":"updatedatabasetable-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-primary-keys":{"name":"updatedatabasetable-primary-keys","displayName":"Primary Key Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"updatedatabasetable-quoted-table-identifiers":{"name":"updatedatabasetable-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"updatedatabasetable-record-writer":{"name":"updatedatabasetable-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"c98764fe-374d-372f-a3d9-4bcd7bfb39c4","instanceIdentifier":"efbd0137-018e-1000-1abf-95f78ddb7321","name":"GenerateFlowFile","comments":"","position":{"x":1104.0,"y":184.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"name,age\njohn,32\nalice,33","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fe6066b4-28d5-3a8b-818d-75a84ebff7d6","instanceIdentifier":"efcdbf2d-018e-1000-45e4-9cfcd4b6e3fd","name":"","source":{"id":"11d5dd30-fbb5-3482-9d8a-bf47c7fa01a7","type":"PROCESSOR","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"efcc4928-018e-1000-c91c-d9f809235f1d"},"destination":{"id":"bbb93298-7f5f-3af0-8700-5ec0e1b3830e","type":"FUNNEL","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"Funnel","comments":"","instanceIdentifier":"efcdaa4f-018e-1000-914a-e746e2dcc707"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"454e1c5d-a1a1-368a-8239-4ac109b27ba9","instanceIdentifier":"efba327e-018e-1000-f95e-07f3c9acfc9d","name":"","source":{"id":"499c9bf8-82a6-30a3-9931-7118c3d1f23f","type":"PROCESSOR","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"ExecuteProcess","comments":"","instanceIdentifier":"efb8f69e-018e-1000-0b5f-89fefdb50870"},"destination":{"id":"1a32eb73-6cc7-369e-826c-1c52f2178af8","type":"FUNNEL","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"Funnel","comments":"","instanceIdentifier":"efba1c52-018e-1000-5717-9ada0a4eed5f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"cef289f2-6589-3b66-ac64-2eba27f6ab50","instanceIdentifier":"efcc75a0-018e-1000-0ea2-a98846fafc1d","name":"","source":{"id":"c012df7b-7c57-3f3d-963e-56b210980423","type":"PROCESSOR","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"UpdateDatabaseTable","comments":"","instanceIdentifier":"efbcb0cd-018e-1000-b643-88463dd3ac07"},"destination":{"id":"11d5dd30-fbb5-3482-9d8a-bf47c7fa01a7","type":"PROCESSOR","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"efcc4928-018e-1000-c91c-d9f809235f1d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"642a9a52-24f7-3dbf-81e8-aee5c91b961a","instanceIdentifier":"efbd15ae-018e-1000-5754-17580db63d28","name":"","source":{"id":"c98764fe-374d-372f-a3d9-4bcd7bfb39c4","type":"PROCESSOR","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"GenerateFlowFile","comments":"","instanceIdentifier":"efbd0137-018e-1000-1abf-95f78ddb7321"},"destination":{"id":"c012df7b-7c57-3f3d-963e-56b210980423","type":"PROCESSOR","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"UpdateDatabaseTable","comments":"","instanceIdentifier":"efbcb0cd-018e-1000-b643-88463dd3ac07"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"e5cc6a98-050c-3086-9390-9057430e04a6","instanceIdentifier":"efcd973f-018e-1000-98ff-8b6a42cba5cc","name":"","source":{"id":"11d5dd30-fbb5-3482-9d8a-bf47c7fa01a7","type":"PROCESSOR","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"efcc4928-018e-1000-c91c-d9f809235f1d"},"destination":{"id":"204ed6c3-38fb-3aad-b20c-63bde5821f89","type":"FUNNEL","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"Funnel","comments":"","instanceIdentifier":"efc0abcd-018e-1000-6996-66b6ca5179b8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"a7ba6b19-ad84-3aea-a530-673c9e4ad49c","instanceIdentifier":"efc0dc8b-018e-1000-dbad-1f11b3080f71","name":"","source":{"id":"c012df7b-7c57-3f3d-963e-56b210980423","type":"PROCESSOR","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"UpdateDatabaseTable","comments":"","instanceIdentifier":"efbcb0cd-018e-1000-b643-88463dd3ac07"},"destination":{"id":"79134c70-a00d-31bd-8238-505444ac9238","type":"FUNNEL","groupId":"3bdd82c5-45f3-3924-b143-290cae2929fc","name":"Funnel","comments":"","instanceIdentifier":"efc0c6e6-018e-1000-30f1-482c65921361"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"}],"labels":[],"funnels":[{"identifier":"204ed6c3-38fb-3aad-b20c-63bde5821f89","instanceIdentifier":"efc0abcd-018e-1000-6996-66b6ca5179b8","position":{"x":1256.0,"y":792.0},"componentType":"FUNNEL","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"79134c70-a00d-31bd-8238-505444ac9238","instanceIdentifier":"efc0c6e6-018e-1000-30f1-482c65921361","position":{"x":1704.0,"y":448.0},"componentType":"FUNNEL","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"bbb93298-7f5f-3af0-8700-5ec0e1b3830e","instanceIdentifier":"efcdaa4f-018e-1000-914a-e746e2dcc707","position":{"x":1704.0,"y":640.0},"componentType":"FUNNEL","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"},{"identifier":"1a32eb73-6cc7-369e-826c-1c52f2178af8","instanceIdentifier":"efba1c52-018e-1000-5717-9ada0a4eed5f","position":{"x":786.0,"y":486.0},"componentType":"FUNNEL","groupIdentifier":"3bdd82c5-45f3-3924-b143-290cae2929fc"}],"controllerServices":[{"identifier":"e881fcfb-0c27-30a5-9fe5-6dbb54492968","instanceIdentifier":"efbdd804-018e-1000-99b1-c8027fa5f626","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"efcf66cc-018e-1000-8a87-2d92b0bd40a0"},{"identifier":"18f05a3a-8a23-395e-833c-873c590a7a47","instanceIdentifier":"efbe2f54-018e-1000-93b5-f4e106e48255","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://db:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/postgresql-42.7.2.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"efcf66cc-018e-1000-8a87-2d92b0bd40a0"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}