nifi/DetectDuplicates.json
{"flowContents":{"identifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031","instanceIdentifier":"ead1038b-018e-1000-1d7f-23f24ec5401f","name":"DetectDuplicates","comments":"","position":{"x":1056.0,"y":128.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d5249700-02af-3b3f-ac79-ed43df9c104e","instanceIdentifier":"eacc80e5-018e-1000-e894-d35e18318d8d","name":"GetFile","comments":"","position":{"x":2136.0,"y":272.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/data/duplicates","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"fa93211e-5ded-352b-8587-5c2cb51245b6","instanceIdentifier":"eacc5408-018e-1000-d43a-e2a9f37955ef","name":"CryptographicHashContent","comments":"","position":{"x":2144.0,"y":488.0},"type":"org.apache.nifi.processors.standard.CryptographicHashContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"hash_algorithm":"SHA-256","fail_when_empty":"false"},"propertyDescriptors":{"hash_algorithm":{"name":"hash_algorithm","displayName":"Hash Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fail_when_empty":{"name":"fail_when_empty","displayName":"Fail if the content is empty","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"46e2cf9e-84db-3c7a-b532-756f429dec55","instanceIdentifier":"eab6d891-018e-1000-4759-580f6b056c2d","name":"DetectDuplicate","comments":"","position":{"x":1344.0,"y":680.0},"type":"org.apache.nifi.processors.standard.DetectDuplicate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Cache Entry Identifier":"${filename}","Cache The Entry Identifier":"true","Age Off Duration":null,"FlowFile Description":"","Distributed Cache Service":"424196e1-0cff-36df-b574-301a44ce7da1"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache The Entry Identifier":{"name":"Cache The Entry Identifier","displayName":"Cache The Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Age Off Duration":{"name":"Age Off Duration","displayName":"Age Off Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Description":{"name":"FlowFile Description","displayName":"FlowFile Description","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"5393ebfc-f086-3e28-85db-fa9edf952b7d","instanceIdentifier":"eace142f-018e-1000-8c92-bf86437413f7","name":"DetectDuplicate","comments":"","position":{"x":2144.0,"y":720.0},"type":"org.apache.nifi.processors.standard.DetectDuplicate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Cache Entry Identifier":"${content_SHA-256}","Cache The Entry Identifier":"true","Age Off Duration":null,"FlowFile Description":"","Distributed Cache Service":"424196e1-0cff-36df-b574-301a44ce7da1"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache The Entry Identifier":{"name":"Cache The Entry Identifier","displayName":"Cache The Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Age Off Duration":{"name":"Age Off Duration","displayName":"Age Off Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Description":{"name":"FlowFile Description","displayName":"FlowFile Description","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"c2e255de-a3ca-374d-a5a6-c2bf92493ca7","instanceIdentifier":"eac9988d-018e-1000-ca9a-06bf99a071c2","name":"GetFile","comments":"","position":{"x":1344.0,"y":448.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/data/duplicates","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e55b5911-3332-3070-98db-f8e710a2cf20","instanceIdentifier":"eacd22c1-018e-1000-0ae6-0208875affe8","name":"","source":{"id":"fa93211e-5ded-352b-8587-5c2cb51245b6","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"CryptographicHashContent","comments":"","instanceIdentifier":"eacc5408-018e-1000-d43a-e2a9f37955ef"},"destination":{"id":"033dbc1f-ebf1-3ca7-9a26-92703affc6d4","type":"FUNNEL","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"Funnel","comments":"","instanceIdentifier":"eacd1068-018e-1000-212d-3ee2e4259fdc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"c110f236-7389-36bb-9c82-29fc802c7ef1","instanceIdentifier":"eac126b1-018e-1000-eec3-5b3ebab1d99a","name":"","source":{"id":"46e2cf9e-84db-3c7a-b532-756f429dec55","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"DetectDuplicate","comments":"","instanceIdentifier":"eab6d891-018e-1000-4759-580f6b056c2d"},"destination":{"id":"198bdb52-bf1d-36ed-832a-eda0c7f47c73","type":"FUNNEL","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"Funnel","comments":"","instanceIdentifier":"eac0d717-018e-1000-8437-3448a3471c74"},"labelIndex":1,"zIndex":0,"selectedRelationships":["non-duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"483c35b4-96ed-399c-98b0-e55779fba775","instanceIdentifier":"eace357d-018e-1000-de78-9702efc18e5a","name":"","source":{"id":"fa93211e-5ded-352b-8587-5c2cb51245b6","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"CryptographicHashContent","comments":"","instanceIdentifier":"eacc5408-018e-1000-d43a-e2a9f37955ef"},"destination":{"id":"5393ebfc-f086-3e28-85db-fa9edf952b7d","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"DetectDuplicate","comments":"","instanceIdentifier":"eace142f-018e-1000-8c92-bf86437413f7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"d1d1711e-7161-3298-b45b-59ad2ebbe880","instanceIdentifier":"eac9acef-018e-1000-be2b-551b9f5f1eb6","name":"","source":{"id":"c2e255de-a3ca-374d-a5a6-c2bf92493ca7","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"GetFile","comments":"","instanceIdentifier":"eac9988d-018e-1000-ca9a-06bf99a071c2"},"destination":{"id":"46e2cf9e-84db-3c7a-b532-756f429dec55","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"DetectDuplicate","comments":"","instanceIdentifier":"eab6d891-018e-1000-4759-580f6b056c2d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"8341a4bf-313a-396f-96fc-67e3bfa3b43c","instanceIdentifier":"eac13997-018e-1000-3a2b-0c0d9950e09d","name":"","source":{"id":"46e2cf9e-84db-3c7a-b532-756f429dec55","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"DetectDuplicate","comments":"","instanceIdentifier":"eab6d891-018e-1000-4759-580f6b056c2d"},"destination":{"id":"3b59c7c1-b33a-3347-bcbe-18c9919f2e12","type":"FUNNEL","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"Funnel","comments":"","instanceIdentifier":"eac0f527-018e-1000-6558-76bab6273e87"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"fd34668c-a213-3311-83dd-d2dfaa41a5da","instanceIdentifier":"eaceb85b-018e-1000-ea0f-14af42496fde","name":"","source":{"id":"5393ebfc-f086-3e28-85db-fa9edf952b7d","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"DetectDuplicate","comments":"","instanceIdentifier":"eace142f-018e-1000-8c92-bf86437413f7"},"destination":{"id":"ea2bf255-eca9-3336-8c82-44994fc3082f","type":"FUNNEL","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"Funnel","comments":"","instanceIdentifier":"eace92a2-018e-1000-4605-dd227e981fb3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"18c13900-0387-39bc-9634-5756c120bbcf","instanceIdentifier":"eac108fb-018e-1000-fbc8-b61468ab0659","name":"","source":{"id":"46e2cf9e-84db-3c7a-b532-756f429dec55","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"DetectDuplicate","comments":"","instanceIdentifier":"eab6d891-018e-1000-4759-580f6b056c2d"},"destination":{"id":"20b91e46-d8e4-3e4c-ae5e-6ca3477d56a6","type":"FUNNEL","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"Funnel","comments":"","instanceIdentifier":"eac0cb5a-018e-1000-a309-6fbd3cb148eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"18bf13da-62ff-34c1-9deb-19f8662d42d4","instanceIdentifier":"eaced194-018e-1000-2bf8-a9288d0172ea","name":"","source":{"id":"5393ebfc-f086-3e28-85db-fa9edf952b7d","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"DetectDuplicate","comments":"","instanceIdentifier":"eace142f-018e-1000-8c92-bf86437413f7"},"destination":{"id":"fc314943-9a11-3c01-956e-10bbb8a9a296","type":"FUNNEL","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"Funnel","comments":"","instanceIdentifier":"eacea04c-018e-1000-0c7a-53bc8476259c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["non-duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"74fa4994-7f21-3652-9bf5-6c37abce962c","instanceIdentifier":"eacc97fa-018e-1000-9a5b-c0be260fa0d3","name":"","source":{"id":"d5249700-02af-3b3f-ac79-ed43df9c104e","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"GetFile","comments":"","instanceIdentifier":"eacc80e5-018e-1000-e894-d35e18318d8d"},"destination":{"id":"fa93211e-5ded-352b-8587-5c2cb51245b6","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"CryptographicHashContent","comments":"","instanceIdentifier":"eacc5408-018e-1000-d43a-e2a9f37955ef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"6e476d01-7d2b-32c4-bd16-e534de14e366","instanceIdentifier":"eace6dfb-018e-1000-2b40-93c2892cc396","name":"","source":{"id":"5393ebfc-f086-3e28-85db-fa9edf952b7d","type":"PROCESSOR","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"DetectDuplicate","comments":"","instanceIdentifier":"eace142f-018e-1000-8c92-bf86437413f7"},"destination":{"id":"b368cd02-76f1-3593-9ede-4dff27eabe02","type":"FUNNEL","groupId":"0ac2b451-9463-39d0-9950-dccbbc2fb031","name":"Funnel","comments":"","instanceIdentifier":"eace4614-018e-1000-d0d0-100ba0130067"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"}],"labels":[],"funnels":[{"identifier":"3b59c7c1-b33a-3347-bcbe-18c9919f2e12","instanceIdentifier":"eac0f527-018e-1000-6558-76bab6273e87","position":{"x":1968.0,"y":728.0},"componentType":"FUNNEL","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"198bdb52-bf1d-36ed-832a-eda0c7f47c73","instanceIdentifier":"eac0d717-018e-1000-8437-3448a3471c74","position":{"x":1688.0,"y":984.0},"componentType":"FUNNEL","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"033dbc1f-ebf1-3ca7-9a26-92703affc6d4","instanceIdentifier":"eacd1068-018e-1000-212d-3ee2e4259fdc","position":{"x":2824.0,"y":552.0},"componentType":"FUNNEL","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"b368cd02-76f1-3593-9ede-4dff27eabe02","instanceIdentifier":"eace4614-018e-1000-d0d0-100ba0130067","position":{"x":2800.0,"y":760.0},"componentType":"FUNNEL","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"fc314943-9a11-3c01-956e-10bbb8a9a296","instanceIdentifier":"eacea04c-018e-1000-0c7a-53bc8476259c","position":{"x":2600.0,"y":968.0},"componentType":"FUNNEL","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"20b91e46-d8e4-3e4c-ae5e-6ca3477d56a6","instanceIdentifier":"eac0cb5a-018e-1000-a309-6fbd3cb148eb","position":{"x":1380.5900341034164,"y":966.2110845819604},"componentType":"FUNNEL","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"},{"identifier":"ea2bf255-eca9-3336-8c82-44994fc3082f","instanceIdentifier":"eace92a2-018e-1000-4605-dd227e981fb3","position":{"x":2194.4939253356793,"y":967.5323571326622},"componentType":"FUNNEL","groupIdentifier":"0ac2b451-9463-39d0-9950-dccbbc2fb031"}],"controllerServices":[{"identifier":"424196e1-0cff-36df-b574-301a44ce7da1","instanceIdentifier":"eabe6621-018e-1000-d571-386c5f19d9d6","name":"SimpleRedisDistributedMapCacheClientService","comments":"","type":"org.apache.nifi.redis.service.SimpleRedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.0.0-M2"},"properties":{"redis-connection-pool":"ad0b764b-483c-3e21-abf2-fd994ee789db","redis-cache-ttl":"0 secs"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ead1038b-018e-1000-1d7f-23f24ec5401f"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}