nifi/GetFileRouteOnAttribute.json
{"flowContents":{"identifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","instanceIdentifier":"b3758c0d-57fb-33f2-4470-8665394df754","name":"GetFileRouteOnAttribute","comments":"","position":{"x":1984.0,"y":632.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3b3464f2-394c-347e-bf0b-796226e5ee36","instanceIdentifier":"275d2448-7713-36e6-82ad-40fd511f0119","name":"RouteOnAttribute","comments":"","position":{"x":3248.0,"y":144.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"ABC":"${filename:startsWith('ABC')}","123":"${filename:startsWith('123')}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"ABC":{"name":"ABC","displayName":"ABC","identifiesControllerService":false,"sensitive":false,"dynamic":true},"123":{"name":"123","displayName":"123","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"7f033603-8a62-3fb7-b3f2-9a5b3c37dfde","instanceIdentifier":"9acfaaa7-46c4-377e-794c-ffd07eaf42ff","name":"GetFile","comments":"","position":{"x":2512.0,"y":136.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/data/example4_input","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"383343f2-fdad-37fe-9928-bb54aa07ee9a","instanceIdentifier":"4f057bcf-350c-327c-f826-1bcf5c6ee7c0","name":"","source":{"id":"3b3464f2-394c-347e-bf0b-796226e5ee36","type":"PROCESSOR","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"275d2448-7713-36e6-82ad-40fd511f0119"},"destination":{"id":"3de1d511-c76a-32f7-81a2-435bd0d6fab0","type":"FUNNEL","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"Funnel","comments":"","instanceIdentifier":"b0495525-053f-38a1-feaf-916aca2835d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ABC"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"cce89771-241d-3642-ac40-9fbf2bd7ff17","instanceIdentifier":"28891913-394e-38db-7237-cac473b36d3b","name":"","source":{"id":"3b3464f2-394c-347e-bf0b-796226e5ee36","type":"PROCESSOR","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"275d2448-7713-36e6-82ad-40fd511f0119"},"destination":{"id":"06a7b67b-f6b4-32a6-a977-d05ee1889231","type":"FUNNEL","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"Funnel","comments":"","instanceIdentifier":"c66d2417-045a-3bd6-63f7-006c1e7ab262"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"eadbdd31-25db-3c5d-a524-5c20a74339ca","instanceIdentifier":"261eadfe-541d-3237-1bf7-0e1f5bc468f5","name":"","source":{"id":"7f033603-8a62-3fb7-b3f2-9a5b3c37dfde","type":"PROCESSOR","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"GetFile","comments":"","instanceIdentifier":"9acfaaa7-46c4-377e-794c-ffd07eaf42ff"},"destination":{"id":"3b3464f2-394c-347e-bf0b-796226e5ee36","type":"PROCESSOR","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"275d2448-7713-36e6-82ad-40fd511f0119"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"8012e9ea-1c2f-3c15-9ead-e1a2240c62e8","instanceIdentifier":"991c4f74-c3c0-3d18-d920-9592addb824c","name":"","source":{"id":"3b3464f2-394c-347e-bf0b-796226e5ee36","type":"PROCESSOR","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"275d2448-7713-36e6-82ad-40fd511f0119"},"destination":{"id":"214f948f-4d7f-3374-b13f-8baa7c6b6b3d","type":"FUNNEL","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"Funnel","comments":"","instanceIdentifier":"f23ef4f1-e145-3848-5888-cc8b670f6b12"},"labelIndex":1,"zIndex":0,"selectedRelationships":["123"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"}],"labels":[],"funnels":[{"identifier":"06a7b67b-f6b4-32a6-a977-d05ee1889231","instanceIdentifier":"c66d2417-045a-3bd6-63f7-006c1e7ab262","position":{"x":3640.0,"y":368.0},"componentType":"FUNNEL","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"214f948f-4d7f-3374-b13f-8baa7c6b6b3d","instanceIdentifier":"f23ef4f1-e145-3848-5888-cc8b670f6b12","position":{"x":2992.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"3de1d511-c76a-32f7-81a2-435bd0d6fab0","instanceIdentifier":"b0495525-053f-38a1-feaf-916aca2835d6","position":{"x":3400.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}