nifi/JsonArray_Split.json
{"flowContents":{"identifier":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5","instanceIdentifier":"d70f3d45-018e-1000-5f79-107883ab79e4","name":"JsonArray_Split","comments":"","position":{"x":1872.0,"y":216.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d787f1ff-8c65-31f4-b4dd-efeacbded485","instanceIdentifier":"d70499e4-018e-1000-b4f1-4b6d0f2a385b","name":"SplitRecord","comments":"","position":{"x":1896.0,"y":424.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Record Writer":"37c7a145-d6e3-339f-877a-487205c73e4f","Record Reader":"b1d3315f-f0f2-31f5-9570-61637cb08405","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5"},{"identifier":"e57dc50a-27d3-3229-affa-6057f08afac9","instanceIdentifier":"d703172b-018e-1000-9bcd-808f895da78e","name":"GenerateFlowFile","comments":"","position":{"x":1888.0,"y":216.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[\n{\"name\": \"aa\", \"city\": \"DE\"},\n{\"name\": \"vf\", \"city\": \"DEE\"},\n{\"name\": \"ee\", \"city\": \"DEC\"}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3e405a5a-acee-33fc-9e9f-2e5a6961cfda","instanceIdentifier":"d704b85d-018e-1000-66f9-9ec366559643","name":"","source":{"id":"e57dc50a-27d3-3229-affa-6057f08afac9","type":"PROCESSOR","groupId":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5","name":"GenerateFlowFile","comments":"","instanceIdentifier":"d703172b-018e-1000-9bcd-808f895da78e"},"destination":{"id":"d787f1ff-8c65-31f4-b4dd-efeacbded485","type":"PROCESSOR","groupId":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5","name":"SplitRecord","comments":"","instanceIdentifier":"d70499e4-018e-1000-b4f1-4b6d0f2a385b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5"},{"identifier":"70f553ca-9031-3efb-80cf-937758b5a2bf","instanceIdentifier":"d706ede2-018e-1000-6f65-3ddf84ca81a6","name":"","source":{"id":"d787f1ff-8c65-31f4-b4dd-efeacbded485","type":"PROCESSOR","groupId":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5","name":"SplitRecord","comments":"","instanceIdentifier":"d70499e4-018e-1000-b4f1-4b6d0f2a385b"},"destination":{"id":"9ba32ff1-60f1-3338-9fc7-6fb724425f0c","type":"FUNNEL","groupId":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5","name":"Funnel","comments":"","instanceIdentifier":"d706b665-018e-1000-60f7-aa2aede48cef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5"},{"identifier":"29c0cc4b-b4b8-3e98-9d63-1bee8f3f7236","instanceIdentifier":"d7076df1-018e-1000-2274-33bad40c17ef","name":"","source":{"id":"d787f1ff-8c65-31f4-b4dd-efeacbded485","type":"PROCESSOR","groupId":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5","name":"SplitRecord","comments":"","instanceIdentifier":"d70499e4-018e-1000-b4f1-4b6d0f2a385b"},"destination":{"id":"03bb9b4a-8d16-3060-b7e1-71e866651841","type":"FUNNEL","groupId":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5","name":"Funnel","comments":"","instanceIdentifier":"d7071b7c-018e-1000-0e67-8ee27ea4dec2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5"},{"identifier":"50bc849e-5a48-372f-9e1d-08b4db057b4a","instanceIdentifier":"d7078064-018e-1000-d452-e51b2b48e6a9","name":"","source":{"id":"d787f1ff-8c65-31f4-b4dd-efeacbded485","type":"PROCESSOR","groupId":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5","name":"SplitRecord","comments":"","instanceIdentifier":"d70499e4-018e-1000-b4f1-4b6d0f2a385b"},"destination":{"id":"a356e737-1f8c-3d8c-b695-da4cbd548446","type":"FUNNEL","groupId":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5","name":"Funnel","comments":"","instanceIdentifier":"d7073148-018e-1000-7665-42faa1d4d9e0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5"}],"labels":[],"funnels":[{"identifier":"03bb9b4a-8d16-3060-b7e1-71e866651841","instanceIdentifier":"d7071b7c-018e-1000-0e67-8ee27ea4dec2","position":{"x":2224.0,"y":648.0},"componentType":"FUNNEL","groupIdentifier":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5"},{"identifier":"a356e737-1f8c-3d8c-b695-da4cbd548446","instanceIdentifier":"d7073148-018e-1000-7665-42faa1d4d9e0","position":{"x":1872.0,"y":648.0},"componentType":"FUNNEL","groupIdentifier":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5"},{"identifier":"9ba32ff1-60f1-3338-9fc7-6fb724425f0c","instanceIdentifier":"d706b665-018e-1000-60f7-aa2aede48cef","position":{"x":2496.0,"y":464.0},"componentType":"FUNNEL","groupIdentifier":"d8a9c366-d32d-3ba9-881c-0878d1ebd9d5"}],"controllerServices":[{"identifier":"37c7a145-d6e3-339f-877a-487205c73e4f","instanceIdentifier":"d705e205-018e-1000-9b4c-5ea833e163e4","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d70f3d45-018e-1000-5f79-107883ab79e4"},{"identifier":"b1d3315f-f0f2-31f5-9570-61637cb08405","instanceIdentifier":"d6f39c98-018e-1000-5c5b-59558ea924d4","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"person","starting-field-strategy":"ROOT_NODE","schema-registry":"f2c6f620-cd26-31e7-8999-9df4709c9bb0","starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d70f3d45-018e-1000-5f79-107883ab79e4"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}