nifi/NiFi_Flow_Accounts.json
{"flowContents":{"identifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a","instanceIdentifier":"68fe3f64-018d-1000-5088-8c3c7ff687af","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"97beb7bb-3521-3d83-9318-096f6b39b988","instanceIdentifier":"87de10d5-018d-1000-25c0-87e771520405","name":"GetFile","comments":"","position":{"x":744.0,"y":112.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"3 sec","Input Directory":"/home/ulises/Documents/Master/nifi/files","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":".*\\.json$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"e282ff42-98a4-311e-bbe2-c25dc57432cd","instanceIdentifier":"8d013ef3-018d-1000-0f86-125f57048512","name":"RouteOnAttribute","comments":"","position":{"x":736.0,"y":560.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","isSavingAccount":"${accountType:equals('savings')}","IsCurrentAccoount":"${accountType:equals('current')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isSavingAccount":{"name":"isSavingAccount","displayName":"isSavingAccount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"IsCurrentAccoount":{"name":"IsCurrentAccoount","displayName":"IsCurrentAccoount","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"092cffca-ff02-3e63-8ee9-369d0564fc42","instanceIdentifier":"8d047d82-018d-1000-0d86-53dcfb874bba","name":"PutFileSavings","comments":"","position":{"x":512.0,"y":832.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/ulises/Documents/Master/nifi/files/savings","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"ee7df4e5-3599-304e-a006-a1d4a1082c71","instanceIdentifier":"8d04d12f-018d-1000-e192-7a4e396ecece","name":"PutFileCurrent","comments":"","position":{"x":1128.0,"y":784.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/ulises/Documents/Master/nifi/files/current","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","instanceIdentifier":"8cfeb097-018d-1000-e3aa-e87744b3aded","name":"EvaluateJsonPath","comments":"","position":{"x":728.0,"y":336.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","accountType":"$.accountType","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"accountType":{"name":"accountType","displayName":"accountType","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"629f7af3-9af4-3b84-a92e-100a391a7b26","instanceIdentifier":"8d07f3aa-018d-1000-9b2d-9c681b80f4f3","name":"","source":{"id":"092cffca-ff02-3e63-8ee9-369d0564fc42","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"PutFileSavings","comments":"","instanceIdentifier":"8d047d82-018d-1000-0d86-53dcfb874bba"},"destination":{"id":"c85ce8c2-e0ae-3213-b26a-54c7e6acbeb1","type":"FUNNEL","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"Funnel","comments":"","instanceIdentifier":"8d079601-018d-1000-4141-87f727166b50"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"b9af343f-1d6b-3c56-b2a7-e1677de2cc08","instanceIdentifier":"8d1c2616-018d-1000-7ade-ebb30ddfff97","name":"","source":{"id":"97beb7bb-3521-3d83-9318-096f6b39b988","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"GetFile","comments":"","instanceIdentifier":"87de10d5-018d-1000-25c0-87e771520405"},"destination":{"id":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8cfeb097-018d-1000-e3aa-e87744b3aded"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"2da5d8c6-0a38-385d-bd5d-fce346af2a31","instanceIdentifier":"8d081b91-018d-1000-12bf-6d4512d53e60","name":"","source":{"id":"ee7df4e5-3599-304e-a006-a1d4a1082c71","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"PutFileCurrent","comments":"","instanceIdentifier":"8d04d12f-018d-1000-e192-7a4e396ecece"},"destination":{"id":"efe64e75-6b47-35f1-b08e-07b550fb75a7","type":"FUNNEL","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"Funnel","comments":"","instanceIdentifier":"8d07bfb0-018d-1000-0b4c-fb68b3688175"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"3b66f759-d110-345a-ae9b-fd9c3f5ac112","instanceIdentifier":"8d427f95-018d-1000-1e3d-322c6218b77d","name":"","source":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8d013ef3-018d-1000-0f86-125f57048512"},"destination":{"id":"ee7df4e5-3599-304e-a006-a1d4a1082c71","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"PutFileCurrent","comments":"","instanceIdentifier":"8d04d12f-018d-1000-e192-7a4e396ecece"},"labelIndex":1,"zIndex":0,"selectedRelationships":["IsCurrentAccoount"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"01a5e80c-29ee-3e91-9611-e5a2578244a3","instanceIdentifier":"8d1dc8d6-018d-1000-ee8f-53b7e4cea6a7","name":"","source":{"id":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8cfeb097-018d-1000-e3aa-e87744b3aded"},"destination":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8d013ef3-018d-1000-0f86-125f57048512"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"505a59b2-baa0-3a73-a7d5-1b0404c0e0ad","instanceIdentifier":"8d07e0ec-018d-1000-fc93-60c4d85ca1f9","name":"","source":{"id":"092cffca-ff02-3e63-8ee9-369d0564fc42","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"PutFileSavings","comments":"","instanceIdentifier":"8d047d82-018d-1000-0d86-53dcfb874bba"},"destination":{"id":"4fe6c5ad-3491-35dc-b98a-e0d3c317299e","type":"FUNNEL","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"Funnel","comments":"","instanceIdentifier":"8d078c83-018d-1000-b984-bec10b787e75"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"aafc08fb-5237-3967-85c7-a1bcb6cf7272","instanceIdentifier":"8d020e1e-018d-1000-9114-df8ff900f363","name":"","source":{"id":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8cfeb097-018d-1000-e3aa-e87744b3aded"},"destination":{"id":"faedba2c-c740-3757-807c-86a5f21e8998","type":"FUNNEL","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"Funnel","comments":"","instanceIdentifier":"8d01ddce-018d-1000-0154-b0d2935b223c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"db1ae174-8e64-331a-9720-729e6ab26a78","instanceIdentifier":"8d426e38-018d-1000-9c71-588616aa7402","name":"","source":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8d013ef3-018d-1000-0f86-125f57048512"},"destination":{"id":"092cffca-ff02-3e63-8ee9-369d0564fc42","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"PutFileSavings","comments":"","instanceIdentifier":"8d047d82-018d-1000-0d86-53dcfb874bba"},"labelIndex":1,"zIndex":0,"selectedRelationships":["isSavingAccount"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"7ca8ddbb-c4e5-3ad0-aff8-cb906ed1b844","instanceIdentifier":"8d0598ef-018d-1000-b4eb-febbb4aaf212","name":"","source":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8d013ef3-018d-1000-0f86-125f57048512"},"destination":{"id":"02de3df9-6d90-31c9-89a8-1d25a438480a","type":"FUNNEL","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"Funnel","comments":"","instanceIdentifier":"8d057e20-018d-1000-2394-94bdbec364e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"9d84084d-ff85-33ff-81d8-600aad33ac13","instanceIdentifier":"8d080661-018d-1000-3605-4deab9d5e783","name":"","source":{"id":"ee7df4e5-3599-304e-a006-a1d4a1082c71","type":"PROCESSOR","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"PutFileCurrent","comments":"","instanceIdentifier":"8d04d12f-018d-1000-e192-7a4e396ecece"},"destination":{"id":"06e4a714-6bed-34b9-bc9c-897a8a1c96bb","type":"FUNNEL","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"Funnel","comments":"","instanceIdentifier":"8d07ae0a-018d-1000-f52b-ba0b9ba72dc2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"}],"labels":[],"funnels":[{"identifier":"4fe6c5ad-3491-35dc-b98a-e0d3c317299e","instanceIdentifier":"8d078c83-018d-1000-b984-bec10b787e75","position":{"x":472.0,"y":1064.0},"componentType":"FUNNEL","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"efe64e75-6b47-35f1-b08e-07b550fb75a7","instanceIdentifier":"8d07bfb0-018d-1000-0b4c-fb68b3688175","position":{"x":1464.0,"y":1064.0},"componentType":"FUNNEL","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"02de3df9-6d90-31c9-89a8-1d25a438480a","instanceIdentifier":"8d057e20-018d-1000-2394-94bdbec364e4","position":{"x":1344.0,"y":608.0},"componentType":"FUNNEL","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"c85ce8c2-e0ae-3213-b26a-54c7e6acbeb1","instanceIdentifier":"8d079601-018d-1000-4141-87f727166b50","position":{"x":824.0,"y":1056.0},"componentType":"FUNNEL","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"faedba2c-c740-3757-807c-86a5f21e8998","instanceIdentifier":"8d01ddce-018d-1000-0154-b0d2935b223c","position":{"x":1384.0,"y":368.0},"componentType":"FUNNEL","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"06e4a714-6bed-34b9-bc9c-897a8a1c96bb","instanceIdentifier":"8d07ae0a-018d-1000-f52b-ba0b9ba72dc2","position":{"x":1176.0,"y":1072.0},"componentType":"FUNNEL","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}