nifi/NiFi_Flow_ALL_EXAMPLES.json
{"flowContents":{"identifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a","instanceIdentifier":"68fe3f64-018d-1000-5088-8c3c7ff687af","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"fdac24ff-9776-3c54-8759-04541075c838","instanceIdentifier":"0032e46c-018e-1000-da3b-4d1beaceedfa","name":"Proyecto2","comments":"","position":{"x":3776.0,"y":160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1e15b2c0-4bdc-3319-adf9-6467cec1b33a","instanceIdentifier":"00129fb5-018e-1000-8a5f-32b1d2d20e9b","name":"GetFile","comments":"","position":{"x":4016.0,"y":336.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/p2","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdac24ff-9776-3c54-8759-04541075c838"},{"identifier":"41094d36-9bee-3a2c-b019-5945e5e5b3a0","instanceIdentifier":"00143a8f-018e-1000-5c69-954146eb981f","name":"PutMongo","comments":"","position":{"x":4016.0,"y":536.0},"type":"org.apache.nifi.processors.mongodb.PutMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.0.0-M2"},"properties":{"mongo-client-service":"0b23ffbb-6ea1-3ba7-86e7-3c41e60c6ff1","Upsert":"false","Update Query Key":null,"Mode":"insert","Mongo Collection Name":"cuentas","putmongo-update-query":null,"put-mongo-update-mode":"doc","Mongo Database Name":"test","Character Set":"UTF-8"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putmongo-update-query":{"name":"putmongo-update-query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-mongo-update-mode":{"name":"put-mongo-update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdac24ff-9776-3c54-8759-04541075c838"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8915ecad-0d9a-37d2-bdca-4a3878499200","instanceIdentifier":"00145fc3-018e-1000-1cc6-12a808e0e6b1","name":"","source":{"id":"1e15b2c0-4bdc-3319-adf9-6467cec1b33a","type":"PROCESSOR","groupId":"fdac24ff-9776-3c54-8759-04541075c838","name":"GetFile","comments":"","instanceIdentifier":"00129fb5-018e-1000-8a5f-32b1d2d20e9b"},"destination":{"id":"41094d36-9bee-3a2c-b019-5945e5e5b3a0","type":"PROCESSOR","groupId":"fdac24ff-9776-3c54-8759-04541075c838","name":"PutMongo","comments":"","instanceIdentifier":"00143a8f-018e-1000-5c69-954146eb981f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdac24ff-9776-3c54-8759-04541075c838"},{"identifier":"3e26f468-2912-30ea-b066-b123e758ecaa","instanceIdentifier":"001ce892-018e-1000-ae32-028793b71eef","name":"","source":{"id":"41094d36-9bee-3a2c-b019-5945e5e5b3a0","type":"PROCESSOR","groupId":"fdac24ff-9776-3c54-8759-04541075c838","name":"PutMongo","comments":"","instanceIdentifier":"00143a8f-018e-1000-5c69-954146eb981f"},"destination":{"id":"c8ebc859-fc51-30d0-b6f3-e993e30573bb","type":"FUNNEL","groupId":"fdac24ff-9776-3c54-8759-04541075c838","name":"Funnel","comments":"","instanceIdentifier":"001cb2bd-018e-1000-559a-34edb4884b46"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdac24ff-9776-3c54-8759-04541075c838"},{"identifier":"ab6622d9-6e99-359d-bccb-9ebb495a239c","instanceIdentifier":"001cc6c5-018e-1000-56fb-cb4aca818de0","name":"","source":{"id":"41094d36-9bee-3a2c-b019-5945e5e5b3a0","type":"PROCESSOR","groupId":"fdac24ff-9776-3c54-8759-04541075c838","name":"PutMongo","comments":"","instanceIdentifier":"00143a8f-018e-1000-5c69-954146eb981f"},"destination":{"id":"6fbfaa80-864d-38f5-a4fd-026708a6a84d","type":"FUNNEL","groupId":"fdac24ff-9776-3c54-8759-04541075c838","name":"Funnel","comments":"","instanceIdentifier":"001ca812-018e-1000-0782-69ade993fde7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdac24ff-9776-3c54-8759-04541075c838"}],"labels":[],"funnels":[{"identifier":"6fbfaa80-864d-38f5-a4fd-026708a6a84d","instanceIdentifier":"001ca812-018e-1000-0782-69ade993fde7","position":{"x":4168.0,"y":776.0},"componentType":"FUNNEL","groupIdentifier":"fdac24ff-9776-3c54-8759-04541075c838"},{"identifier":"c8ebc859-fc51-30d0-b6f3-e993e30573bb","instanceIdentifier":"001cb2bd-018e-1000-559a-34edb4884b46","position":{"x":4640.0,"y":576.0},"componentType":"FUNNEL","groupIdentifier":"fdac24ff-9776-3c54-8759-04541075c838"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"de11cbc4-21b6-3cce-b912-03b99c244fcf","instanceIdentifier":"d53d6bcc-018d-1000-3fdd-b39ca0e0f47a","name":"ExecuteSQL","comments":"","position":{"x":2400.0,"y":176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"11ce80b5-5436-33df-a42d-6fe381104d7c","instanceIdentifier":"d51afb89-018d-1000-13f4-abaef8b4a101","name":"ExecuteSQL","comments":"","position":{"x":2736.0,"y":552.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4dd9a8e3-93b2-39a9-9c21-ead7809e4eac","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM public.accounts;","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"de11cbc4-21b6-3cce-b912-03b99c244fcf"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"50e67138-567b-3038-a1ea-d4219c3b85ea","instanceIdentifier":"d52272ab-018d-1000-6a26-c4a1ee1d890b","name":"","source":{"id":"11ce80b5-5436-33df-a42d-6fe381104d7c","type":"PROCESSOR","groupId":"de11cbc4-21b6-3cce-b912-03b99c244fcf","name":"ExecuteSQL","comments":"","instanceIdentifier":"d51afb89-018d-1000-13f4-abaef8b4a101"},"destination":{"id":"aa5bd50b-b061-3866-8fcf-d3e6736289af","type":"FUNNEL","groupId":"de11cbc4-21b6-3cce-b912-03b99c244fcf","name":"Funnel","comments":"","instanceIdentifier":"d5225cf5-018d-1000-a028-cf976f51998a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"de11cbc4-21b6-3cce-b912-03b99c244fcf"},{"identifier":"3a7d2ab1-7c87-34d8-bf9c-468f097d0bef","instanceIdentifier":"d5224ad6-018d-1000-efa2-bcaaee6b24f3","name":"","source":{"id":"11ce80b5-5436-33df-a42d-6fe381104d7c","type":"PROCESSOR","groupId":"de11cbc4-21b6-3cce-b912-03b99c244fcf","name":"ExecuteSQL","comments":"","instanceIdentifier":"d51afb89-018d-1000-13f4-abaef8b4a101"},"destination":{"id":"dc35a695-627b-3615-989f-bf4a76124df5","type":"FUNNEL","groupId":"de11cbc4-21b6-3cce-b912-03b99c244fcf","name":"Funnel","comments":"","instanceIdentifier":"d5223703-018d-1000-316f-2cc445a62332"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"de11cbc4-21b6-3cce-b912-03b99c244fcf"}],"labels":[],"funnels":[{"identifier":"dc35a695-627b-3615-989f-bf4a76124df5","instanceIdentifier":"d5223703-018d-1000-316f-2cc445a62332","position":{"x":3386.284005672117,"y":608.0091138786942},"componentType":"FUNNEL","groupIdentifier":"de11cbc4-21b6-3cce-b912-03b99c244fcf"},{"identifier":"aa5bd50b-b061-3866-8fcf-d3e6736289af","instanceIdentifier":"d5225cf5-018d-1000-a028-cf976f51998a","position":{"x":3395.547355114987,"y":827.2417173599616},"componentType":"FUNNEL","groupIdentifier":"de11cbc4-21b6-3cce-b912-03b99c244fcf"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"2bcabfb5-0aa6-3962-ac51-d2674e664fed","instanceIdentifier":"c121061b-018d-1000-a05c-cdb871c6aa5f","name":"Get-Put-CSV","comments":"","position":{"x":1520.0,"y":392.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2b3400b8-3bbb-3211-b181-b268bb2f77ee","instanceIdentifier":"e9256657-5c50-3f45-9b54-1a9a5d8b08f7","name":"GetFile","comments":"","position":{"x":1456.0,"y":272.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":".*\\.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2bcabfb5-0aa6-3962-ac51-d2674e664fed"},{"identifier":"74d4222f-7d00-3156-a148-308d1e912e10","instanceIdentifier":"a7fe492a-6bfa-3655-129c-a4609cf57cdd","name":"PutFile","comments":"","position":{"x":2240.0,"y":352.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/csv","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2bcabfb5-0aa6-3962-ac51-d2674e664fed"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"874b277c-7d92-32fd-8128-f25ec953d2d8","instanceIdentifier":"d1ae9976-07c7-34e7-b363-793a2559d0ec","name":"","source":{"id":"2b3400b8-3bbb-3211-b181-b268bb2f77ee","type":"PROCESSOR","groupId":"2bcabfb5-0aa6-3962-ac51-d2674e664fed","name":"GetFile","comments":"","instanceIdentifier":"e9256657-5c50-3f45-9b54-1a9a5d8b08f7"},"destination":{"id":"74d4222f-7d00-3156-a148-308d1e912e10","type":"PROCESSOR","groupId":"2bcabfb5-0aa6-3962-ac51-d2674e664fed","name":"PutFile","comments":"","instanceIdentifier":"a7fe492a-6bfa-3655-129c-a4609cf57cdd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2bcabfb5-0aa6-3962-ac51-d2674e664fed"},{"identifier":"6384a017-4f04-31be-ab60-9fbc81339668","instanceIdentifier":"0862ce6f-625c-3d28-466e-852f6e11efc6","name":"","source":{"id":"74d4222f-7d00-3156-a148-308d1e912e10","type":"PROCESSOR","groupId":"2bcabfb5-0aa6-3962-ac51-d2674e664fed","name":"PutFile","comments":"","instanceIdentifier":"a7fe492a-6bfa-3655-129c-a4609cf57cdd"},"destination":{"id":"a63753ed-a435-3002-8b89-ea42cf59f57c","type":"FUNNEL","groupId":"2bcabfb5-0aa6-3962-ac51-d2674e664fed","name":"Funnel","comments":"","instanceIdentifier":"c6f1451a-a0b7-30f1-a7b7-798c791b37c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2bcabfb5-0aa6-3962-ac51-d2674e664fed"},{"identifier":"238dfc14-0f29-3698-9ff7-bac37e22ae52","instanceIdentifier":"40ad84fa-fb32-39ac-7fb5-042b514576b5","name":"","source":{"id":"74d4222f-7d00-3156-a148-308d1e912e10","type":"PROCESSOR","groupId":"2bcabfb5-0aa6-3962-ac51-d2674e664fed","name":"PutFile","comments":"","instanceIdentifier":"a7fe492a-6bfa-3655-129c-a4609cf57cdd"},"destination":{"id":"6bf2e977-5bee-30d0-8f69-d5969e510a1c","type":"FUNNEL","groupId":"2bcabfb5-0aa6-3962-ac51-d2674e664fed","name":"Funnel","comments":"","instanceIdentifier":"5b8af8a4-cb60-31b6-9737-e3de6197210e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2bcabfb5-0aa6-3962-ac51-d2674e664fed"}],"labels":[],"funnels":[{"identifier":"6bf2e977-5bee-30d0-8f69-d5969e510a1c","instanceIdentifier":"5b8af8a4-cb60-31b6-9737-e3de6197210e","position":{"x":2840.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"2bcabfb5-0aa6-3962-ac51-d2674e664fed"},{"identifier":"a63753ed-a435-3002-8b89-ea42cf59f57c","instanceIdentifier":"c6f1451a-a0b7-30f1-a7b7-798c791b37c6","position":{"x":2848.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"2bcabfb5-0aa6-3962-ac51-d2674e664fed"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"74f08113-bf62-3b2b-84f5-f419fecea73d","instanceIdentifier":"d5603acd-018d-1000-ad72-3dff8878bd1f","name":"EvaluateJsonPath","comments":"","position":{"x":2424.0,"y":408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fd854933-db9f-393b-af35-c802eac089f1","instanceIdentifier":"d5550bc0-018d-1000-dd74-d2caa08d300a","name":"GetFile","comments":"","position":{"x":2912.0,"y":192.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/jsons","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74f08113-bf62-3b2b-84f5-f419fecea73d"},{"identifier":"3f6985f7-c849-3b51-a600-853154daa754","instanceIdentifier":"d5567d5c-018d-1000-cf30-cd871eec65bb","name":"EvaluateJsonPath","comments":"","position":{"x":2920.0,"y":432.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-content","Max String Length":"20 MB","Return Type":"auto-detect","name":"$.name","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"74f08113-bf62-3b2b-84f5-f419fecea73d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"09438903-8cb6-3ecc-9906-60977e84390d","instanceIdentifier":"d557b68f-018d-1000-b672-ae9c0393ee6b","name":"","source":{"id":"fd854933-db9f-393b-af35-c802eac089f1","type":"PROCESSOR","groupId":"74f08113-bf62-3b2b-84f5-f419fecea73d","name":"GetFile","comments":"","instanceIdentifier":"d5550bc0-018d-1000-dd74-d2caa08d300a"},"destination":{"id":"3f6985f7-c849-3b51-a600-853154daa754","type":"PROCESSOR","groupId":"74f08113-bf62-3b2b-84f5-f419fecea73d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d5567d5c-018d-1000-cf30-cd871eec65bb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74f08113-bf62-3b2b-84f5-f419fecea73d"},{"identifier":"5563c58b-2edb-30e1-ab71-f52d5870bfc0","instanceIdentifier":"d55a4778-018d-1000-3578-62366f8cc059","name":"","source":{"id":"3f6985f7-c849-3b51-a600-853154daa754","type":"PROCESSOR","groupId":"74f08113-bf62-3b2b-84f5-f419fecea73d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d5567d5c-018d-1000-cf30-cd871eec65bb"},"destination":{"id":"281fe211-bb50-3d49-bf03-a69f29a3fd69","type":"FUNNEL","groupId":"74f08113-bf62-3b2b-84f5-f419fecea73d","name":"Funnel","comments":"","instanceIdentifier":"d55a21b8-018d-1000-b6e8-cf5524836723"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74f08113-bf62-3b2b-84f5-f419fecea73d"},{"identifier":"3af566db-e88d-3887-9806-c116d9a075c9","instanceIdentifier":"d559ae9c-018d-1000-a066-ec48fc257e91","name":"","source":{"id":"3f6985f7-c849-3b51-a600-853154daa754","type":"PROCESSOR","groupId":"74f08113-bf62-3b2b-84f5-f419fecea73d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d5567d5c-018d-1000-cf30-cd871eec65bb"},"destination":{"id":"78172267-a166-313f-81d9-1ee49815a538","type":"FUNNEL","groupId":"74f08113-bf62-3b2b-84f5-f419fecea73d","name":"Funnel","comments":"","instanceIdentifier":"d5597710-018d-1000-d7c8-20ecf0559c0f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"74f08113-bf62-3b2b-84f5-f419fecea73d"}],"labels":[],"funnels":[{"identifier":"281fe211-bb50-3d49-bf03-a69f29a3fd69","instanceIdentifier":"d55a21b8-018d-1000-b6e8-cf5524836723","position":{"x":3080.0,"y":664.0},"componentType":"FUNNEL","groupIdentifier":"74f08113-bf62-3b2b-84f5-f419fecea73d"},{"identifier":"78172267-a166-313f-81d9-1ee49815a538","instanceIdentifier":"d5597710-018d-1000-d7c8-20ecf0559c0f","position":{"x":3544.0,"y":472.0},"componentType":"FUNNEL","groupIdentifier":"74f08113-bf62-3b2b-84f5-f419fecea73d"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc","instanceIdentifier":"d57d9aea-018d-1000-0350-527f5f9b7cbf","name":"ExtractText","comments":"","position":{"x":2424.0,"y":640.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ecd09b1c-b8d4-3b6a-8010-6104ecf19f0b","instanceIdentifier":"d56a250f-018d-1000-953b-c7dd36d94e40","name":"ExtractText","comments":"","position":{"x":3056.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","name":".*HELLO.*","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc"},{"identifier":"618ea271-6425-3ef8-8204-0fad320e42ab","instanceIdentifier":"d569be9b-018d-1000-edfa-8520da9a9944","name":"GetFile","comments":"","position":{"x":3052.800073538544,"y":269.9000469027187},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/text","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4f39561c-f9ed-3960-a1ed-056547ea43cc","instanceIdentifier":"d5750385-018d-1000-3f5f-52f6c95826d8","name":"","source":{"id":"ecd09b1c-b8d4-3b6a-8010-6104ecf19f0b","type":"PROCESSOR","groupId":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc","name":"ExtractText","comments":"","instanceIdentifier":"d56a250f-018d-1000-953b-c7dd36d94e40"},"destination":{"id":"216ea597-84d8-3b2c-b273-fb072f6b7ad9","type":"FUNNEL","groupId":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc","name":"Funnel","comments":"","instanceIdentifier":"d574de78-018d-1000-e2c4-5e92067801ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc"},{"identifier":"b191ba8f-3301-34fd-bd69-542487572f87","instanceIdentifier":"d575267e-018d-1000-58a5-1258ac95f896","name":"","source":{"id":"618ea271-6425-3ef8-8204-0fad320e42ab","type":"PROCESSOR","groupId":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc","name":"GetFile","comments":"","instanceIdentifier":"d569be9b-018d-1000-edfa-8520da9a9944"},"destination":{"id":"ecd09b1c-b8d4-3b6a-8010-6104ecf19f0b","type":"PROCESSOR","groupId":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc","name":"ExtractText","comments":"","instanceIdentifier":"d56a250f-018d-1000-953b-c7dd36d94e40"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc"},{"identifier":"4f087866-eedb-3103-92ae-e3b842a38896","instanceIdentifier":"d5751760-018d-1000-b0d8-040b11b9455d","name":"","source":{"id":"ecd09b1c-b8d4-3b6a-8010-6104ecf19f0b","type":"PROCESSOR","groupId":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc","name":"ExtractText","comments":"","instanceIdentifier":"d56a250f-018d-1000-953b-c7dd36d94e40"},"destination":{"id":"7e6c38cc-1a3f-3e14-b7b2-543dfb7446f8","type":"FUNNEL","groupId":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc","name":"Funnel","comments":"","instanceIdentifier":"d574ec7b-018d-1000-6553-32804fd062d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc"}],"labels":[],"funnels":[{"identifier":"216ea597-84d8-3b2c-b273-fb072f6b7ad9","instanceIdentifier":"d574de78-018d-1000-e2c4-5e92067801ab","position":{"x":3520.0,"y":744.0},"componentType":"FUNNEL","groupIdentifier":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc"},{"identifier":"7e6c38cc-1a3f-3e14-b7b2-543dfb7446f8","instanceIdentifier":"d574ec7b-018d-1000-6553-32804fd062d6","position":{"x":3104.400073538544,"y":772.7000469027187},"componentType":"FUNNEL","groupIdentifier":"f1d5cf20-ed8f-35ae-a495-3aacc21eb6bc"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"20a05bce-8f55-348a-af64-7c48f2de82cc","instanceIdentifier":"ff2d548e-018d-1000-5342-68a374d42b44","name":"ExecuteProcess Group","comments":"","position":{"x":3296.0,"y":568.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"afe06729-b291-3647-9167-da0a3b967805","instanceIdentifier":"6399089a-eb52-3ab0-31ad-8acf1fd7c95b","name":"ExecuteProcess","comments":"","position":{"x":1192.0,"y":584.0},"type":"org.apache.nifi.processors.standard.ExecuteProcess","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Command":"uname","Redirect Error Stream":"true","Working Directory":null,"Output MIME type":null,"Argument Delimiter":" ","Batch Duration":null,"Command Arguments":"-a"},"propertyDescriptors":{"Command":{"name":"Command","displayName":"Command","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redirect Error Stream":{"name":"Redirect Error Stream","displayName":"Redirect Error Stream","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME type":{"name":"Output MIME type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Duration":{"name":"Batch Duration","displayName":"Batch Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"20a05bce-8f55-348a-af64-7c48f2de82cc"}],"inputPorts":[],"outputPorts":[{"identifier":"bf1e74e5-e717-38e5-b018-e6c37dd89a75","instanceIdentifier":"3903e9cb-11cb-3f5b-0806-a64a3538e6e0","name":"local_out","comments":"","position":{"x":1248.0,"y":824.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"20a05bce-8f55-348a-af64-7c48f2de82cc"}],"connections":[{"identifier":"923a2599-ae36-3761-b767-d1746a4a63e0","instanceIdentifier":"68fb321b-605a-34f7-437e-9733d3c75638","name":"","source":{"id":"afe06729-b291-3647-9167-da0a3b967805","type":"PROCESSOR","groupId":"20a05bce-8f55-348a-af64-7c48f2de82cc","name":"ExecuteProcess","comments":"","instanceIdentifier":"6399089a-eb52-3ab0-31ad-8acf1fd7c95b"},"destination":{"id":"bf1e74e5-e717-38e5-b018-e6c37dd89a75","type":"OUTPUT_PORT","groupId":"20a05bce-8f55-348a-af64-7c48f2de82cc","name":"local_out","comments":"","instanceIdentifier":"3903e9cb-11cb-3f5b-0806-a64a3538e6e0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"20a05bce-8f55-348a-af64-7c48f2de82cc"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","instanceIdentifier":"d4e4bfe7-018d-1000-2906-2a99a911e65d","name":"GetFileCompressContent","comments":"","position":{"x":1976.0,"y":176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2fe1d3a7-d645-35aa-a49f-9fe664601ea7","instanceIdentifier":"d4dc8289-018d-1000-f485-1ebe3e78400e","name":"GetFile","comments":"","position":{"x":2080.0,"y":224.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/source","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"},{"identifier":"708ab4b5-207c-3ac1-89e0-41b377268e84","instanceIdentifier":"d4dfbf4f-018d-1000-5336-e78ed5cfd860","name":"CompressContent","comments":"","position":{"x":2672.0,"y":224.0},"type":"org.apache.nifi.processors.standard.CompressContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Compression Format":"gzip","Mode":"compress","Compression Level":"1","Update Filename":"true"},"propertyDescriptors":{"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Filename":{"name":"Update Filename","displayName":"Update Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"},{"identifier":"4d323ed4-ebac-3501-a5cc-bdc1eb9ebe2b","instanceIdentifier":"d4e0ae9f-018d-1000-a2f3-8bd1763cb1e4","name":"PutFile","comments":"","position":{"x":3288.0,"y":208.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/dest","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8c0956be-b4ed-3a39-9d66-ddfe063ae013","instanceIdentifier":"d4e0f364-018d-1000-d9f4-fba52f5be197","name":"","source":{"id":"708ab4b5-207c-3ac1-89e0-41b377268e84","type":"PROCESSOR","groupId":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","name":"CompressContent","comments":"","instanceIdentifier":"d4dfbf4f-018d-1000-5336-e78ed5cfd860"},"destination":{"id":"9f8c9f87-e144-38f8-baf8-fcb3ad772713","type":"FUNNEL","groupId":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","name":"Funnel","comments":"","instanceIdentifier":"d4e0d682-018d-1000-0348-0375eace2388"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"},{"identifier":"9bc83a39-088e-3961-bee7-1b687fbc682c","instanceIdentifier":"d4e179ce-018d-1000-d238-c45282ee2d42","name":"","source":{"id":"4d323ed4-ebac-3501-a5cc-bdc1eb9ebe2b","type":"PROCESSOR","groupId":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","name":"PutFile","comments":"","instanceIdentifier":"d4e0ae9f-018d-1000-a2f3-8bd1763cb1e4"},"destination":{"id":"98229770-9f9b-3b4f-8b74-de816bb3e0c3","type":"FUNNEL","groupId":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","name":"Funnel","comments":"","instanceIdentifier":"d4e1635c-018d-1000-42e1-87cde7fc2bc6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"},{"identifier":"9879f10b-9bf1-386b-aeec-d80b164ca005","instanceIdentifier":"d4e0c96c-018d-1000-edcf-eab9696f983a","name":"","source":{"id":"708ab4b5-207c-3ac1-89e0-41b377268e84","type":"PROCESSOR","groupId":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","name":"CompressContent","comments":"","instanceIdentifier":"d4dfbf4f-018d-1000-5336-e78ed5cfd860"},"destination":{"id":"4d323ed4-ebac-3501-a5cc-bdc1eb9ebe2b","type":"PROCESSOR","groupId":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","name":"PutFile","comments":"","instanceIdentifier":"d4e0ae9f-018d-1000-a2f3-8bd1763cb1e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"},{"identifier":"333a392a-ee68-3f58-9399-89b89e2898a2","instanceIdentifier":"d4e1c091-018d-1000-b0af-ccdbf0343787","name":"","source":{"id":"4d323ed4-ebac-3501-a5cc-bdc1eb9ebe2b","type":"PROCESSOR","groupId":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","name":"PutFile","comments":"","instanceIdentifier":"d4e0ae9f-018d-1000-a2f3-8bd1763cb1e4"},"destination":{"id":"0385dc8d-4185-3bb1-b7f6-7666687eba5b","type":"FUNNEL","groupId":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","name":"Funnel","comments":"","instanceIdentifier":"d4e1acae-018d-1000-6edf-95937cc8840e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"},{"identifier":"1e46608c-1b85-3c08-a1f2-468f22f2bdc7","instanceIdentifier":"d4dfda3d-018d-1000-efa0-f16d45180e0a","name":"","source":{"id":"2fe1d3a7-d645-35aa-a49f-9fe664601ea7","type":"PROCESSOR","groupId":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","name":"GetFile","comments":"","instanceIdentifier":"d4dc8289-018d-1000-f485-1ebe3e78400e"},"destination":{"id":"708ab4b5-207c-3ac1-89e0-41b377268e84","type":"PROCESSOR","groupId":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4","name":"CompressContent","comments":"","instanceIdentifier":"d4dfbf4f-018d-1000-5336-e78ed5cfd860"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"}],"labels":[],"funnels":[{"identifier":"0385dc8d-4185-3bb1-b7f6-7666687eba5b","instanceIdentifier":"d4e1acae-018d-1000-6edf-95937cc8840e","position":{"x":3672.0,"y":416.0},"componentType":"FUNNEL","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"},{"identifier":"9f8c9f87-e144-38f8-baf8-fcb3ad772713","instanceIdentifier":"d4e0d682-018d-1000-0348-0375eace2388","position":{"x":2816.0,"y":472.0},"componentType":"FUNNEL","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"},{"identifier":"98229770-9f9b-3b4f-8b74-de816bb3e0c3","instanceIdentifier":"d4e1635c-018d-1000-42e1-87cde7fc2bc6","position":{"x":3272.0,"y":416.0},"componentType":"FUNNEL","groupIdentifier":"4f8c1690-97c1-3709-be1e-1d60ad37b1a4"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","instanceIdentifier":"d50980a7-018d-1000-d458-e9c1b850e312","name":"GetFileRouteOnAttribute","comments":"","position":{"x":1984.0,"y":632.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3b3464f2-394c-347e-bf0b-796226e5ee36","instanceIdentifier":"d503caf6-018d-1000-3697-5d21e4b873b6","name":"RouteOnAttribute","comments":"","position":{"x":3248.0,"y":144.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"ABC":"${filename:startsWith('ABC')}","123":"${filename:startsWith('123')}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"ABC":{"name":"ABC","displayName":"ABC","identifiesControllerService":false,"sensitive":false,"dynamic":true},"123":{"name":"123","displayName":"123","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"7f033603-8a62-3fb7-b3f2-9a5b3c37dfde","instanceIdentifier":"d50232eb-018d-1000-39ab-136dd40d8249","name":"GetFile","comments":"","position":{"x":2512.0,"y":136.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/route_on_attribute","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"383343f2-fdad-37fe-9928-bb54aa07ee9a","instanceIdentifier":"d505b7ba-018d-1000-87fe-855a75a5bf27","name":"","source":{"id":"3b3464f2-394c-347e-bf0b-796226e5ee36","type":"PROCESSOR","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d503caf6-018d-1000-3697-5d21e4b873b6"},"destination":{"id":"3de1d511-c76a-32f7-81a2-435bd0d6fab0","type":"FUNNEL","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"Funnel","comments":"","instanceIdentifier":"d5055ed9-018d-1000-bc64-35aee557b8d2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ABC"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"cce89771-241d-3642-ac40-9fbf2bd7ff17","instanceIdentifier":"d505ec8b-018d-1000-79ba-58046f2802fc","name":"","source":{"id":"3b3464f2-394c-347e-bf0b-796226e5ee36","type":"PROCESSOR","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d503caf6-018d-1000-3697-5d21e4b873b6"},"destination":{"id":"06a7b67b-f6b4-32a6-a977-d05ee1889231","type":"FUNNEL","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"Funnel","comments":"","instanceIdentifier":"d505c9a4-018d-1000-a387-864972d39dd5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"8012e9ea-1c2f-3c15-9ead-e1a2240c62e8","instanceIdentifier":"d5058aa8-018d-1000-54b3-3f005502d1f3","name":"","source":{"id":"3b3464f2-394c-347e-bf0b-796226e5ee36","type":"PROCESSOR","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d503caf6-018d-1000-3697-5d21e4b873b6"},"destination":{"id":"214f948f-4d7f-3374-b13f-8baa7c6b6b3d","type":"FUNNEL","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"Funnel","comments":"","instanceIdentifier":"d5056dce-018d-1000-545f-09aabf84286b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["123"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"eadbdd31-25db-3c5d-a524-5c20a74339ca","instanceIdentifier":"d503ea54-018d-1000-0fb4-252509109570","name":"","source":{"id":"7f033603-8a62-3fb7-b3f2-9a5b3c37dfde","type":"PROCESSOR","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"GetFile","comments":"","instanceIdentifier":"d50232eb-018d-1000-39ab-136dd40d8249"},"destination":{"id":"3b3464f2-394c-347e-bf0b-796226e5ee36","type":"PROCESSOR","groupId":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d503caf6-018d-1000-3697-5d21e4b873b6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"}],"labels":[],"funnels":[{"identifier":"06a7b67b-f6b4-32a6-a977-d05ee1889231","instanceIdentifier":"d505c9a4-018d-1000-a387-864972d39dd5","position":{"x":3640.0,"y":368.0},"componentType":"FUNNEL","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"214f948f-4d7f-3374-b13f-8baa7c6b6b3d","instanceIdentifier":"d5056dce-018d-1000-545f-09aabf84286b","position":{"x":2992.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"},{"identifier":"3de1d511-c76a-32f7-81a2-435bd0d6fab0","instanceIdentifier":"d5055ed9-018d-1000-bc64-35aee557b8d2","position":{"x":3400.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"6ebacbc4-45ad-3346-9f5d-0cd03ac3eee5"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"b6a01ae6-994c-3e26-893d-572cdce54b10","instanceIdentifier":"d5aed691-018d-1000-e410-cdfc687618bf","name":"InvokeHttp","comments":"","position":{"x":2824.0,"y":176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"aa88d855-a29d-3057-99ea-5b996430c3c7","instanceIdentifier":"d5aba35b-018d-1000-1333-5ffe13e8e186","name":"PutFile","comments":"","position":{"x":3096.0,"y":512.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/html","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6a01ae6-994c-3e26-893d-572cdce54b10"},{"identifier":"d8c336bd-76f5-3d2e-9e75-076fc9e6abec","instanceIdentifier":"d5a49520-018d-1000-dd43-575c2d9fde66","name":"InvokeHTTP","comments":"","position":{"x":3088.0,"y":296.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://example.com/","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b6a01ae6-994c-3e26-893d-572cdce54b10"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6fa27905-f993-35e5-b03f-83420210702d","instanceIdentifier":"d5a63d17-018d-1000-eb5b-cfd0ee314d4f","name":"","source":{"id":"d8c336bd-76f5-3d2e-9e75-076fc9e6abec","type":"PROCESSOR","groupId":"b6a01ae6-994c-3e26-893d-572cdce54b10","name":"InvokeHTTP","comments":"","instanceIdentifier":"d5a49520-018d-1000-dd43-575c2d9fde66"},"destination":{"id":"5ee8946c-d231-3edc-8e47-3e377e3a43b1","type":"FUNNEL","groupId":"b6a01ae6-994c-3e26-893d-572cdce54b10","name":"Funnel","comments":"","instanceIdentifier":"d5a60718-018d-1000-47a2-631f44ec8cd4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6a01ae6-994c-3e26-893d-572cdce54b10"},{"identifier":"9f0b7e8c-0b2c-3ab6-bc1a-129173ac4447","instanceIdentifier":"d5acce77-018d-1000-3c79-19355d8902c2","name":"","source":{"id":"aa88d855-a29d-3057-99ea-5b996430c3c7","type":"PROCESSOR","groupId":"b6a01ae6-994c-3e26-893d-572cdce54b10","name":"PutFile","comments":"","instanceIdentifier":"d5aba35b-018d-1000-1333-5ffe13e8e186"},"destination":{"id":"e042cf4b-5395-3e3d-b80c-975cfcfae604","type":"FUNNEL","groupId":"b6a01ae6-994c-3e26-893d-572cdce54b10","name":"Funnel","comments":"","instanceIdentifier":"d5a4a840-018d-1000-d5a3-de8fadec7622"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6a01ae6-994c-3e26-893d-572cdce54b10"},{"identifier":"f4cbe2b8-1e58-3cd7-acc8-4eabd502a101","instanceIdentifier":"d5aca71c-018d-1000-27ac-249a0ca29549","name":"","source":{"id":"d8c336bd-76f5-3d2e-9e75-076fc9e6abec","type":"PROCESSOR","groupId":"b6a01ae6-994c-3e26-893d-572cdce54b10","name":"InvokeHTTP","comments":"","instanceIdentifier":"d5a49520-018d-1000-dd43-575c2d9fde66"},"destination":{"id":"aa88d855-a29d-3057-99ea-5b996430c3c7","type":"PROCESSOR","groupId":"b6a01ae6-994c-3e26-893d-572cdce54b10","name":"PutFile","comments":"","instanceIdentifier":"d5aba35b-018d-1000-1333-5ffe13e8e186"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b6a01ae6-994c-3e26-893d-572cdce54b10"}],"labels":[],"funnels":[{"identifier":"5ee8946c-d231-3edc-8e47-3e377e3a43b1","instanceIdentifier":"d5a60718-018d-1000-47a2-631f44ec8cd4","position":{"x":3712.0,"y":336.0},"componentType":"FUNNEL","groupIdentifier":"b6a01ae6-994c-3e26-893d-572cdce54b10"},{"identifier":"e042cf4b-5395-3e3d-b80c-975cfcfae604","instanceIdentifier":"d5a4a840-018d-1000-d5a3-de8fadec7622","position":{"x":3248.0,"y":736.0},"componentType":"FUNNEL","groupIdentifier":"b6a01ae6-994c-3e26-893d-572cdce54b10"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3","instanceIdentifier":"d5c80319-018d-1000-5d31-d57a114d7e26","name":"SplitText","comments":"","position":{"x":2840.0,"y":640.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6882cda3-3430-3d26-b8ea-2e152b51cfc8","instanceIdentifier":"d5c11e58-018d-1000-e4e7-531ac15f4e22","name":"SplitText","comments":"","position":{"x":3368.0,"y":440.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3"},{"identifier":"cf40cddf-8163-3467-89b3-938cf30fd841","instanceIdentifier":"d5c15733-018d-1000-e33d-f4ac268e69dd","name":"GetFile","comments":"","position":{"x":3368.0,"y":200.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/lines","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"978752f7-bb78-38b6-b86c-104c7646e0b0","instanceIdentifier":"d5c1be33-018d-1000-3649-17f6745df677","name":"","source":{"id":"cf40cddf-8163-3467-89b3-938cf30fd841","type":"PROCESSOR","groupId":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3","name":"GetFile","comments":"","instanceIdentifier":"d5c15733-018d-1000-e33d-f4ac268e69dd"},"destination":{"id":"6882cda3-3430-3d26-b8ea-2e152b51cfc8","type":"PROCESSOR","groupId":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3","name":"SplitText","comments":"","instanceIdentifier":"d5c11e58-018d-1000-e4e7-531ac15f4e22"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3"},{"identifier":"92690656-21bc-333a-bdfc-4890ad464c36","instanceIdentifier":"d5c1f745-018d-1000-4bfa-0c801161c691","name":"","source":{"id":"6882cda3-3430-3d26-b8ea-2e152b51cfc8","type":"PROCESSOR","groupId":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3","name":"SplitText","comments":"","instanceIdentifier":"d5c11e58-018d-1000-e4e7-531ac15f4e22"},"destination":{"id":"4c0f64b0-1d0a-30dd-8937-90e62304351f","type":"FUNNEL","groupId":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3","name":"Funnel","comments":"","instanceIdentifier":"d5c1d2ba-018d-1000-a788-56e6cf583c8b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3"},{"identifier":"5cc6f758-ece0-30e7-82b9-c77cd10d4564","instanceIdentifier":"d5c37b76-018d-1000-d962-df69f5fdcfad","name":"","source":{"id":"6882cda3-3430-3d26-b8ea-2e152b51cfc8","type":"PROCESSOR","groupId":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3","name":"SplitText","comments":"","instanceIdentifier":"d5c11e58-018d-1000-e4e7-531ac15f4e22"},"destination":{"id":"8c37ff60-d6b4-3bd1-a442-36d3e570c7e5","type":"FUNNEL","groupId":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3","name":"Funnel","comments":"","instanceIdentifier":"d5c358c5-018d-1000-3448-88aa08db5401"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3"}],"labels":[],"funnels":[{"identifier":"4c0f64b0-1d0a-30dd-8937-90e62304351f","instanceIdentifier":"d5c1d2ba-018d-1000-a788-56e6cf583c8b","position":{"x":3520.0,"y":656.0},"componentType":"FUNNEL","groupIdentifier":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3"},{"identifier":"8c37ff60-d6b4-3bd1-a442-36d3e570c7e5","instanceIdentifier":"d5c358c5-018d-1000-3448-88aa08db5401","position":{"x":4000.0,"y":488.0},"componentType":"FUNNEL","groupIdentifier":"2666c2d9-03bd-32b3-87cc-e51691e3d7c3"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"917e014a-a50e-38d8-a9a7-d2ddb8a59817","instanceIdentifier":"c0ced0a7-018d-1000-e746-6d0d0444e3e7","name":"Get-Put-CSV","comments":"","position":{"x":1520.0,"y":168.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2b3400b8-3bbb-3211-b181-b268bb2f77ee","instanceIdentifier":"94b25ef5-018d-1000-2f9e-bb5a86347c19","name":"GetFile","comments":"","position":{"x":1456.0,"y":272.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":".*\\.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"917e014a-a50e-38d8-a9a7-d2ddb8a59817"},{"identifier":"74d4222f-7d00-3156-a148-308d1e912e10","instanceIdentifier":"94b5ee1d-018d-1000-e428-f1945409913d","name":"PutFile","comments":"","position":{"x":2240.0,"y":352.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/csv","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"917e014a-a50e-38d8-a9a7-d2ddb8a59817"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"874b277c-7d92-32fd-8128-f25ec953d2d8","instanceIdentifier":"c0c8380d-018d-1000-84ad-d1fcd566e9cc","name":"","source":{"id":"2b3400b8-3bbb-3211-b181-b268bb2f77ee","type":"PROCESSOR","groupId":"917e014a-a50e-38d8-a9a7-d2ddb8a59817","name":"GetFile","comments":"","instanceIdentifier":"94b25ef5-018d-1000-2f9e-bb5a86347c19"},"destination":{"id":"74d4222f-7d00-3156-a148-308d1e912e10","type":"PROCESSOR","groupId":"917e014a-a50e-38d8-a9a7-d2ddb8a59817","name":"PutFile","comments":"","instanceIdentifier":"94b5ee1d-018d-1000-e428-f1945409913d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"917e014a-a50e-38d8-a9a7-d2ddb8a59817"},{"identifier":"238dfc14-0f29-3698-9ff7-bac37e22ae52","instanceIdentifier":"94b71399-018d-1000-13b0-a7570a99c014","name":"","source":{"id":"74d4222f-7d00-3156-a148-308d1e912e10","type":"PROCESSOR","groupId":"917e014a-a50e-38d8-a9a7-d2ddb8a59817","name":"PutFile","comments":"","instanceIdentifier":"94b5ee1d-018d-1000-e428-f1945409913d"},"destination":{"id":"6bf2e977-5bee-30d0-8f69-d5969e510a1c","type":"FUNNEL","groupId":"917e014a-a50e-38d8-a9a7-d2ddb8a59817","name":"Funnel","comments":"","instanceIdentifier":"94b6b8a4-018d-1000-a057-fe3ee279be7d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"917e014a-a50e-38d8-a9a7-d2ddb8a59817"},{"identifier":"6384a017-4f04-31be-ab60-9fbc81339668","instanceIdentifier":"94b76d19-018d-1000-4406-9fd0f6fbfacc","name":"","source":{"id":"74d4222f-7d00-3156-a148-308d1e912e10","type":"PROCESSOR","groupId":"917e014a-a50e-38d8-a9a7-d2ddb8a59817","name":"PutFile","comments":"","instanceIdentifier":"94b5ee1d-018d-1000-e428-f1945409913d"},"destination":{"id":"a63753ed-a435-3002-8b89-ea42cf59f57c","type":"FUNNEL","groupId":"917e014a-a50e-38d8-a9a7-d2ddb8a59817","name":"Funnel","comments":"","instanceIdentifier":"94b74d47-018d-1000-b51f-0f098f411c4a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"917e014a-a50e-38d8-a9a7-d2ddb8a59817"}],"labels":[],"funnels":[{"identifier":"6bf2e977-5bee-30d0-8f69-d5969e510a1c","instanceIdentifier":"94b6b8a4-018d-1000-a057-fe3ee279be7d","position":{"x":2840.0,"y":392.0},"componentType":"FUNNEL","groupIdentifier":"917e014a-a50e-38d8-a9a7-d2ddb8a59817"},{"identifier":"a63753ed-a435-3002-8b89-ea42cf59f57c","instanceIdentifier":"94b74d47-018d-1000-b51f-0f098f411c4a","position":{"x":2848.0,"y":480.0},"componentType":"FUNNEL","groupIdentifier":"917e014a-a50e-38d8-a9a7-d2ddb8a59817"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"b8225955-beae-3f6f-bd93-5909629d79c7","instanceIdentifier":"d5b7b817-018d-1000-7caf-21d2f91413cd","name":"ListenHttp","comments":"","position":{"x":2840.0,"y":416.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0bfc5af5-7566-36ee-95df-42f05c0883a3","instanceIdentifier":"d5b26010-018d-1000-0bc8-b51066b863e3","name":"ListenHTTP","comments":"","position":{"x":2992.0,"y":464.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"echo","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"5555"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8225955-beae-3f6f-bd93-5909629d79c7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f55c1134-a685-3e39-b955-04a44ae061d6","instanceIdentifier":"d5b30967-018d-1000-1f0d-9afffdb2d54a","name":"","source":{"id":"0bfc5af5-7566-36ee-95df-42f05c0883a3","type":"PROCESSOR","groupId":"b8225955-beae-3f6f-bd93-5909629d79c7","name":"ListenHTTP","comments":"","instanceIdentifier":"d5b26010-018d-1000-0bc8-b51066b863e3"},"destination":{"id":"f7b2ab62-b72b-3ab8-bf7c-808d1dbd530a","type":"FUNNEL","groupId":"b8225955-beae-3f6f-bd93-5909629d79c7","name":"Funnel","comments":"","instanceIdentifier":"d5b2f95e-018d-1000-cb02-1ccc230dca9f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8225955-beae-3f6f-bd93-5909629d79c7"}],"labels":[],"funnels":[{"identifier":"f7b2ab62-b72b-3ab8-bf7c-808d1dbd530a","instanceIdentifier":"d5b2f95e-018d-1000-cb02-1ccc230dca9f","position":{"x":3144.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"b8225955-beae-3f6f-bd93-5909629d79c7"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"78bd6ba2-6e7a-3af6-875d-918c9697ae63","instanceIdentifier":"c0d0f3a8-018d-1000-0acf-40049a14ab32","name":"ReplaceText","comments":"","position":{"x":1520.0,"y":840.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"efa1f520-3202-330f-8e5e-8d02ac887644","instanceIdentifier":"b7e8ed8c-018d-1000-70ed-ba48704adff0","name":"ReplaceText","comments":"","position":{"x":1960.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Regular Expression":"Hello","Replacement Value":"WORLD","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78bd6ba2-6e7a-3af6-875d-918c9697ae63"},{"identifier":"631ddba7-030c-3338-b38e-4717a8fdafae","instanceIdentifier":"b7e7d2be-018d-1000-252b-d282ef0d5a08","name":"GetFile","comments":"","position":{"x":1336.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/nn","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":".*\\.txt","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78bd6ba2-6e7a-3af6-875d-918c9697ae63"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"62cd7068-5c80-3d4a-8941-58fa14698cd4","instanceIdentifier":"b7eaaba1-018d-1000-69bb-9b538370e1c1","name":"","source":{"id":"efa1f520-3202-330f-8e5e-8d02ac887644","type":"PROCESSOR","groupId":"78bd6ba2-6e7a-3af6-875d-918c9697ae63","name":"ReplaceText","comments":"","instanceIdentifier":"b7e8ed8c-018d-1000-70ed-ba48704adff0"},"destination":{"id":"37228cde-65f2-35ee-a401-7119b248d4c3","type":"FUNNEL","groupId":"78bd6ba2-6e7a-3af6-875d-918c9697ae63","name":"Funnel","comments":"","instanceIdentifier":"b7ea96c0-018d-1000-74a1-e20e79bbe704"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78bd6ba2-6e7a-3af6-875d-918c9697ae63"},{"identifier":"8a06cd28-9125-38f9-a91f-7d53fc856bc4","instanceIdentifier":"b7e9132e-018d-1000-50cb-1f13e1248864","name":"","source":{"id":"631ddba7-030c-3338-b38e-4717a8fdafae","type":"PROCESSOR","groupId":"78bd6ba2-6e7a-3af6-875d-918c9697ae63","name":"GetFile","comments":"","instanceIdentifier":"b7e7d2be-018d-1000-252b-d282ef0d5a08"},"destination":{"id":"efa1f520-3202-330f-8e5e-8d02ac887644","type":"PROCESSOR","groupId":"78bd6ba2-6e7a-3af6-875d-918c9697ae63","name":"ReplaceText","comments":"","instanceIdentifier":"b7e8ed8c-018d-1000-70ed-ba48704adff0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78bd6ba2-6e7a-3af6-875d-918c9697ae63"},{"identifier":"ef306521-3475-3a57-91df-a8889e6ec97d","instanceIdentifier":"b7ea61d1-018d-1000-3607-4932965dd398","name":"","source":{"id":"efa1f520-3202-330f-8e5e-8d02ac887644","type":"PROCESSOR","groupId":"78bd6ba2-6e7a-3af6-875d-918c9697ae63","name":"ReplaceText","comments":"","instanceIdentifier":"b7e8ed8c-018d-1000-70ed-ba48704adff0"},"destination":{"id":"0c67a0c2-2df9-3d09-9048-b8af1f8ee21b","type":"FUNNEL","groupId":"78bd6ba2-6e7a-3af6-875d-918c9697ae63","name":"Funnel","comments":"","instanceIdentifier":"b7ea3542-018d-1000-0a89-7c92de807761"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78bd6ba2-6e7a-3af6-875d-918c9697ae63"}],"labels":[],"funnels":[{"identifier":"37228cde-65f2-35ee-a401-7119b248d4c3","instanceIdentifier":"b7ea96c0-018d-1000-74a1-e20e79bbe704","position":{"x":2647.125,"y":1185.5500000000002},"componentType":"FUNNEL","groupIdentifier":"78bd6ba2-6e7a-3af6-875d-918c9697ae63"},{"identifier":"0c67a0c2-2df9-3d09-9048-b8af1f8ee21b","instanceIdentifier":"b7ea3542-018d-1000-0a89-7c92de807761","position":{"x":2608.0,"y":1040.0},"componentType":"FUNNEL","groupIdentifier":"78bd6ba2-6e7a-3af6-875d-918c9697ae63"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"42c463aa-3b57-36aa-b062-9f18ba8e6056","instanceIdentifier":"d582ee2a-018d-1000-84a2-41c60019a39b","name":"ExecuteProcess Group","comments":"","position":{"x":3280.0,"y":160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"afe06729-b291-3647-9167-da0a3b967805","instanceIdentifier":"d57decf3-018d-1000-a42d-65af4a47b0a5","name":"ExecuteProcess","comments":"","position":{"x":1192.0,"y":584.0},"type":"org.apache.nifi.processors.standard.ExecuteProcess","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Command":"uname","Redirect Error Stream":"true","Working Directory":null,"Output MIME type":null,"Argument Delimiter":" ","Batch Duration":null,"Command Arguments":"-a"},"propertyDescriptors":{"Command":{"name":"Command","displayName":"Command","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redirect Error Stream":{"name":"Redirect Error Stream","displayName":"Redirect Error Stream","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME type":{"name":"Output MIME type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Duration":{"name":"Batch Duration","displayName":"Batch Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"42c463aa-3b57-36aa-b062-9f18ba8e6056"}],"inputPorts":[],"outputPorts":[{"identifier":"bf1e74e5-e717-38e5-b018-e6c37dd89a75","instanceIdentifier":"ff06666d-018d-1000-1fd1-5e05c8a1e2f6","name":"local_out","comments":"","position":{"x":1248.0,"y":824.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"42c463aa-3b57-36aa-b062-9f18ba8e6056"}],"connections":[{"identifier":"923a2599-ae36-3761-b767-d1746a4a63e0","instanceIdentifier":"ff068d33-018d-1000-5e5c-e36ab282f412","name":"","source":{"id":"afe06729-b291-3647-9167-da0a3b967805","type":"PROCESSOR","groupId":"42c463aa-3b57-36aa-b062-9f18ba8e6056","name":"ExecuteProcess","comments":"","instanceIdentifier":"d57decf3-018d-1000-a42d-65af4a47b0a5"},"destination":{"id":"bf1e74e5-e717-38e5-b018-e6c37dd89a75","type":"OUTPUT_PORT","groupId":"42c463aa-3b57-36aa-b062-9f18ba8e6056","name":"local_out","comments":"","instanceIdentifier":"ff06666d-018d-1000-1fd1-5e05c8a1e2f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"42c463aa-3b57-36aa-b062-9f18ba8e6056"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c","instanceIdentifier":"8d65aea5-018d-1000-9fcf-586b7b401e71","name":"Projecto1","comments":"","position":{"x":1512.0,"y":608.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"97beb7bb-3521-3d83-9318-096f6b39b988","instanceIdentifier":"87de10d5-018d-1000-25c0-87e771520405","name":"GetFile","comments":"","position":{"x":744.0,"y":112.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"3 sec","Input Directory":"/home/ulises/Documents/Master/nifi/files","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":".*\\.json$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"e282ff42-98a4-311e-bbe2-c25dc57432cd","instanceIdentifier":"8d013ef3-018d-1000-0f86-125f57048512","name":"RouteOnAttribute","comments":"","position":{"x":736.0,"y":560.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","isSavingAccount":"${accountType:equals('savings')}","IsCurrentAccoount":"${accountType:equals('current')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isSavingAccount":{"name":"isSavingAccount","displayName":"isSavingAccount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"IsCurrentAccoount":{"name":"IsCurrentAccoount","displayName":"IsCurrentAccoount","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"092cffca-ff02-3e63-8ee9-369d0564fc42","instanceIdentifier":"8d047d82-018d-1000-0d86-53dcfb874bba","name":"PutFileSavings","comments":"","position":{"x":512.0,"y":832.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/ulises/Documents/Master/nifi/files/savings","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"ee7df4e5-3599-304e-a006-a1d4a1082c71","instanceIdentifier":"8d04d12f-018d-1000-e192-7a4e396ecece","name":"PutFileCurrent","comments":"","position":{"x":1128.0,"y":784.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/ulises/Documents/Master/nifi/files/current","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","instanceIdentifier":"8cfeb097-018d-1000-e3aa-e87744b3aded","name":"EvaluateJsonPath","comments":"","position":{"x":728.0,"y":336.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","accountType":"$.accountType","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"accountType":{"name":"accountType","displayName":"accountType","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"629f7af3-9af4-3b84-a92e-100a391a7b26","instanceIdentifier":"8d07f3aa-018d-1000-9b2d-9c681b80f4f3","name":"","source":{"id":"092cffca-ff02-3e63-8ee9-369d0564fc42","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileSavings","comments":"","instanceIdentifier":"8d047d82-018d-1000-0d86-53dcfb874bba"},"destination":{"id":"c85ce8c2-e0ae-3213-b26a-54c7e6acbeb1","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"8d079601-018d-1000-4141-87f727166b50"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"b9af343f-1d6b-3c56-b2a7-e1677de2cc08","instanceIdentifier":"8d1c2616-018d-1000-7ade-ebb30ddfff97","name":"","source":{"id":"97beb7bb-3521-3d83-9318-096f6b39b988","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"GetFile","comments":"","instanceIdentifier":"87de10d5-018d-1000-25c0-87e771520405"},"destination":{"id":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8cfeb097-018d-1000-e3aa-e87744b3aded"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"2da5d8c6-0a38-385d-bd5d-fce346af2a31","instanceIdentifier":"8d081b91-018d-1000-12bf-6d4512d53e60","name":"","source":{"id":"ee7df4e5-3599-304e-a006-a1d4a1082c71","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileCurrent","comments":"","instanceIdentifier":"8d04d12f-018d-1000-e192-7a4e396ecece"},"destination":{"id":"efe64e75-6b47-35f1-b08e-07b550fb75a7","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"8d07bfb0-018d-1000-0b4c-fb68b3688175"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"3b66f759-d110-345a-ae9b-fd9c3f5ac112","instanceIdentifier":"8d427f95-018d-1000-1e3d-322c6218b77d","name":"","source":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8d013ef3-018d-1000-0f86-125f57048512"},"destination":{"id":"ee7df4e5-3599-304e-a006-a1d4a1082c71","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileCurrent","comments":"","instanceIdentifier":"8d04d12f-018d-1000-e192-7a4e396ecece"},"labelIndex":1,"zIndex":0,"selectedRelationships":["IsCurrentAccoount"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"01a5e80c-29ee-3e91-9611-e5a2578244a3","instanceIdentifier":"8d1dc8d6-018d-1000-ee8f-53b7e4cea6a7","name":"","source":{"id":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8cfeb097-018d-1000-e3aa-e87744b3aded"},"destination":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8d013ef3-018d-1000-0f86-125f57048512"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"505a59b2-baa0-3a73-a7d5-1b0404c0e0ad","instanceIdentifier":"8d07e0ec-018d-1000-fc93-60c4d85ca1f9","name":"","source":{"id":"092cffca-ff02-3e63-8ee9-369d0564fc42","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileSavings","comments":"","instanceIdentifier":"8d047d82-018d-1000-0d86-53dcfb874bba"},"destination":{"id":"4fe6c5ad-3491-35dc-b98a-e0d3c317299e","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"8d078c83-018d-1000-b984-bec10b787e75"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"aafc08fb-5237-3967-85c7-a1bcb6cf7272","instanceIdentifier":"8d020e1e-018d-1000-9114-df8ff900f363","name":"","source":{"id":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"8cfeb097-018d-1000-e3aa-e87744b3aded"},"destination":{"id":"faedba2c-c740-3757-807c-86a5f21e8998","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"8d01ddce-018d-1000-0154-b0d2935b223c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"db1ae174-8e64-331a-9720-729e6ab26a78","instanceIdentifier":"8d426e38-018d-1000-9c71-588616aa7402","name":"","source":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8d013ef3-018d-1000-0f86-125f57048512"},"destination":{"id":"092cffca-ff02-3e63-8ee9-369d0564fc42","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileSavings","comments":"","instanceIdentifier":"8d047d82-018d-1000-0d86-53dcfb874bba"},"labelIndex":1,"zIndex":0,"selectedRelationships":["isSavingAccount"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"7ca8ddbb-c4e5-3ad0-aff8-cb906ed1b844","instanceIdentifier":"8d0598ef-018d-1000-b4eb-febbb4aaf212","name":"","source":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"8d013ef3-018d-1000-0f86-125f57048512"},"destination":{"id":"02de3df9-6d90-31c9-89a8-1d25a438480a","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"8d057e20-018d-1000-2394-94bdbec364e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"9d84084d-ff85-33ff-81d8-600aad33ac13","instanceIdentifier":"8d080661-018d-1000-3605-4deab9d5e783","name":"","source":{"id":"ee7df4e5-3599-304e-a006-a1d4a1082c71","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileCurrent","comments":"","instanceIdentifier":"8d04d12f-018d-1000-e192-7a4e396ecece"},"destination":{"id":"06e4a714-6bed-34b9-bc9c-897a8a1c96bb","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"8d07ae0a-018d-1000-f52b-ba0b9ba72dc2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"}],"labels":[],"funnels":[{"identifier":"4fe6c5ad-3491-35dc-b98a-e0d3c317299e","instanceIdentifier":"8d078c83-018d-1000-b984-bec10b787e75","position":{"x":472.0,"y":1064.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"efe64e75-6b47-35f1-b08e-07b550fb75a7","instanceIdentifier":"8d07bfb0-018d-1000-0b4c-fb68b3688175","position":{"x":1464.0,"y":1064.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"02de3df9-6d90-31c9-89a8-1d25a438480a","instanceIdentifier":"8d057e20-018d-1000-2394-94bdbec364e4","position":{"x":1344.0,"y":608.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"c85ce8c2-e0ae-3213-b26a-54c7e6acbeb1","instanceIdentifier":"8d079601-018d-1000-4141-87f727166b50","position":{"x":824.0,"y":1056.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"faedba2c-c740-3757-807c-86a5f21e8998","instanceIdentifier":"8d01ddce-018d-1000-0154-b0d2935b223c","position":{"x":1384.0,"y":368.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"06e4a714-6bed-34b9-bc9c-897a8a1c96bb","instanceIdentifier":"8d07ae0a-018d-1000-f52b-ba0b9ba72dc2","position":{"x":1176.0,"y":1072.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"ffdc4cc3-ab90-369d-9c55-ebd34459785d","instanceIdentifier":"d514ebe8-018d-1000-8b62-9a13ba9dff0d","name":"GetFileRouteOnContent","comments":"","position":{"x":1992.0,"y":832.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2941c4cc-7369-3c74-a885-6438ee56bbbe","instanceIdentifier":"d510b42a-018d-1000-325f-0ad6f7b0986c","name":"RouteOnContent","comments":"","position":{"x":3216.0,"y":344.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Content Buffer Size":"1 MB","SIGNAL":"SIGNAL","ABC":"ABC","Match Requirement":"content must contain match","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SIGNAL":{"name":"SIGNAL","displayName":"SIGNAL","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ABC":{"name":"ABC","displayName":"ABC","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ffdc4cc3-ab90-369d-9c55-ebd34459785d"},{"identifier":"e2fb3c04-75a8-3b25-9e9a-a221f0e110b8","instanceIdentifier":"d50faf94-018d-1000-cfd6-42be0c4e98a3","name":"GetFile","comments":"","position":{"x":2632.0,"y":352.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/route_on_content","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ffdc4cc3-ab90-369d-9c55-ebd34459785d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8fe3cbbb-2aa7-31a4-b47a-99732a26ff2f","instanceIdentifier":"d511a68a-018d-1000-dded-478ab4fda8cf","name":"","source":{"id":"2941c4cc-7369-3c74-a885-6438ee56bbbe","type":"PROCESSOR","groupId":"ffdc4cc3-ab90-369d-9c55-ebd34459785d","name":"RouteOnContent","comments":"","instanceIdentifier":"d510b42a-018d-1000-325f-0ad6f7b0986c"},"destination":{"id":"7df35a61-f5a1-3a2f-898d-2e298aa30a1e","type":"FUNNEL","groupId":"ffdc4cc3-ab90-369d-9c55-ebd34459785d","name":"Funnel","comments":"","instanceIdentifier":"d50faf91-018d-1000-0781-1d7d9d4a67b1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SIGNAL"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffdc4cc3-ab90-369d-9c55-ebd34459785d"},{"identifier":"1657254d-1956-3f7c-9d8c-eb87e7961f78","instanceIdentifier":"d511dd19-018d-1000-66c8-522f2dd87c40","name":"","source":{"id":"e2fb3c04-75a8-3b25-9e9a-a221f0e110b8","type":"PROCESSOR","groupId":"ffdc4cc3-ab90-369d-9c55-ebd34459785d","name":"GetFile","comments":"","instanceIdentifier":"d50faf94-018d-1000-cfd6-42be0c4e98a3"},"destination":{"id":"2941c4cc-7369-3c74-a885-6438ee56bbbe","type":"PROCESSOR","groupId":"ffdc4cc3-ab90-369d-9c55-ebd34459785d","name":"RouteOnContent","comments":"","instanceIdentifier":"d510b42a-018d-1000-325f-0ad6f7b0986c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffdc4cc3-ab90-369d-9c55-ebd34459785d"},{"identifier":"b47e44dd-c453-3953-9264-833282dc31d2","instanceIdentifier":"d51192a7-018d-1000-d1b7-936cbed4342c","name":"","source":{"id":"2941c4cc-7369-3c74-a885-6438ee56bbbe","type":"PROCESSOR","groupId":"ffdc4cc3-ab90-369d-9c55-ebd34459785d","name":"RouteOnContent","comments":"","instanceIdentifier":"d510b42a-018d-1000-325f-0ad6f7b0986c"},"destination":{"id":"bc83c0d0-3c63-326b-8eb6-f0b6038fabd9","type":"FUNNEL","groupId":"ffdc4cc3-ab90-369d-9c55-ebd34459785d","name":"Funnel","comments":"","instanceIdentifier":"d50faf92-018d-1000-aec4-5c33418c36dd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ABC"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffdc4cc3-ab90-369d-9c55-ebd34459785d"},{"identifier":"e6119237-e00b-3d22-904b-4e7af433952e","instanceIdentifier":"d511c272-018d-1000-a99c-bf53aba0c587","name":"","source":{"id":"2941c4cc-7369-3c74-a885-6438ee56bbbe","type":"PROCESSOR","groupId":"ffdc4cc3-ab90-369d-9c55-ebd34459785d","name":"RouteOnContent","comments":"","instanceIdentifier":"d510b42a-018d-1000-325f-0ad6f7b0986c"},"destination":{"id":"4a8422ca-d25b-34bd-b401-34953a084207","type":"FUNNEL","groupId":"ffdc4cc3-ab90-369d-9c55-ebd34459785d","name":"Funnel","comments":"","instanceIdentifier":"d50faf93-018d-1000-c012-986804381426"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffdc4cc3-ab90-369d-9c55-ebd34459785d"}],"labels":[],"funnels":[{"identifier":"bc83c0d0-3c63-326b-8eb6-f0b6038fabd9","instanceIdentifier":"d50faf92-018d-1000-aec4-5c33418c36dd","position":{"x":3112.0,"y":608.0},"componentType":"FUNNEL","groupIdentifier":"ffdc4cc3-ab90-369d-9c55-ebd34459785d"},{"identifier":"4a8422ca-d25b-34bd-b401-34953a084207","instanceIdentifier":"d50faf93-018d-1000-c012-986804381426","position":{"x":3760.0,"y":584.0},"componentType":"FUNNEL","groupIdentifier":"ffdc4cc3-ab90-369d-9c55-ebd34459785d"},{"identifier":"7df35a61-f5a1-3a2f-898d-2e298aa30a1e","instanceIdentifier":"d50faf91-018d-1000-0781-1d7d9d4a67b1","position":{"x":3520.0,"y":696.0},"componentType":"FUNNEL","groupIdentifier":"ffdc4cc3-ab90-369d-9c55-ebd34459785d"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"85dc9439-b5d6-3420-afc2-d84dce7568c8","instanceIdentifier":"d5dfdbb0-018d-1000-a3ce-a18156dcea73","name":"UnpackContent","comments":"","position":{"x":2848.0,"y":848.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"96cdee0d-1bc1-3190-8f70-8204d91e787a","instanceIdentifier":"d5ce20cc-018d-1000-8dcb-cf2e0c191a53","name":"GetFile","comments":"","position":{"x":3472.0,"y":192.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/zip","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85dc9439-b5d6-3420-afc2-d84dce7568c8"},{"identifier":"e5cad056-8a38-3d71-801f-783c539d36c5","instanceIdentifier":"d5ce02db-018d-1000-1c5f-bd7889f93f15","name":"UnpackContent","comments":"","position":{"x":3472.0,"y":464.0},"type":"org.apache.nifi.processors.standard.UnpackContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Packaging Format":"zip","allow-stored-entries-wdd":"false","File Filter":".*"},"propertyDescriptors":{"Packaging Format":{"name":"Packaging Format","displayName":"Packaging Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"allow-stored-entries-wdd":{"name":"allow-stored-entries-wdd","displayName":"Allow Stored Entries With Data Descriptor","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"85dc9439-b5d6-3420-afc2-d84dce7568c8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"91ee4b9d-837a-3e90-a3a7-c10f8e0a8ecb","instanceIdentifier":"d5d980b3-018d-1000-c0e2-53e2726d5e59","name":"","source":{"id":"e5cad056-8a38-3d71-801f-783c539d36c5","type":"PROCESSOR","groupId":"85dc9439-b5d6-3420-afc2-d84dce7568c8","name":"UnpackContent","comments":"","instanceIdentifier":"d5ce02db-018d-1000-1c5f-bd7889f93f15"},"destination":{"id":"7e457406-93c9-38e0-b7a0-cc025b626c42","type":"FUNNEL","groupId":"85dc9439-b5d6-3420-afc2-d84dce7568c8","name":"Funnel","comments":"","instanceIdentifier":"d5d95cfa-018d-1000-6bad-f66195d7ac8c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85dc9439-b5d6-3420-afc2-d84dce7568c8"},{"identifier":"3fb53fa8-9c54-32da-8c13-5a19c4152f56","instanceIdentifier":"d5d93d5a-018d-1000-0e10-9a037062c2c2","name":"","source":{"id":"e5cad056-8a38-3d71-801f-783c539d36c5","type":"PROCESSOR","groupId":"85dc9439-b5d6-3420-afc2-d84dce7568c8","name":"UnpackContent","comments":"","instanceIdentifier":"d5ce02db-018d-1000-1c5f-bd7889f93f15"},"destination":{"id":"f822ebff-6cc7-3688-a48c-3b255971570e","type":"FUNNEL","groupId":"85dc9439-b5d6-3420-afc2-d84dce7568c8","name":"Funnel","comments":"","instanceIdentifier":"d5d91dd2-018d-1000-535e-94bc4b829745"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85dc9439-b5d6-3420-afc2-d84dce7568c8"},{"identifier":"0d20ad10-0d3f-3015-aef6-d63f8083eaf4","instanceIdentifier":"d5d8f4f3-018d-1000-7318-887374ed609d","name":"","source":{"id":"96cdee0d-1bc1-3190-8f70-8204d91e787a","type":"PROCESSOR","groupId":"85dc9439-b5d6-3420-afc2-d84dce7568c8","name":"GetFile","comments":"","instanceIdentifier":"d5ce20cc-018d-1000-8dcb-cf2e0c191a53"},"destination":{"id":"e5cad056-8a38-3d71-801f-783c539d36c5","type":"PROCESSOR","groupId":"85dc9439-b5d6-3420-afc2-d84dce7568c8","name":"UnpackContent","comments":"","instanceIdentifier":"d5ce02db-018d-1000-1c5f-bd7889f93f15"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"85dc9439-b5d6-3420-afc2-d84dce7568c8"}],"labels":[],"funnels":[{"identifier":"f822ebff-6cc7-3688-a48c-3b255971570e","instanceIdentifier":"d5d91dd2-018d-1000-535e-94bc4b829745","position":{"x":3624.0,"y":696.0},"componentType":"FUNNEL","groupIdentifier":"85dc9439-b5d6-3420-afc2-d84dce7568c8"},{"identifier":"7e457406-93c9-38e0-b7a0-cc025b626c42","instanceIdentifier":"d5d95cfa-018d-1000-6bad-f66195d7ac8c","position":{"x":4088.0,"y":496.0},"componentType":"FUNNEL","groupIdentifier":"85dc9439-b5d6-3420-afc2-d84dce7568c8"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc","instanceIdentifier":"d4f6688e-018d-1000-8bce-859ca9c465cb","name":"GetFileControlRate","comments":"","position":{"x":1984.0,"y":408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"52b65fdc-5706-3bd2-8a35-1597ee8bee41","instanceIdentifier":"d4efc3bc-018d-1000-4c3e-489ae5324507","name":"ControlRate","comments":"","position":{"x":2632.0,"y":408.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"1 min","Grouping Attribute":null,"Maximum Rate":"1","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc"},{"identifier":"ca6d806e-45b8-349e-ad8c-de9bc53f634c","instanceIdentifier":"d4ef505c-018d-1000-39b6-a23c99a1776f","name":"GetFile","comments":"","position":{"x":1984.0,"y":408.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/tmp/control_rate_in","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"351a3638-e0bc-3f81-a753-c93cbad0918a","instanceIdentifier":"d4f17bf9-018d-1000-631f-1fd235e0bbe6","name":"","source":{"id":"52b65fdc-5706-3bd2-8a35-1597ee8bee41","type":"PROCESSOR","groupId":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc","name":"ControlRate","comments":"","instanceIdentifier":"d4efc3bc-018d-1000-4c3e-489ae5324507"},"destination":{"id":"8178b448-954c-3416-8ff4-32276f9d23c9","type":"FUNNEL","groupId":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc","name":"Funnel","comments":"","instanceIdentifier":"d4f0cedb-018d-1000-8403-0be1560bccb1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc"},{"identifier":"f0c1d963-37b5-31b1-9b5b-6e9cdfd78aa1","instanceIdentifier":"d4f13c3c-018d-1000-b7ee-173884e98de6","name":"","source":{"id":"52b65fdc-5706-3bd2-8a35-1597ee8bee41","type":"PROCESSOR","groupId":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc","name":"ControlRate","comments":"","instanceIdentifier":"d4efc3bc-018d-1000-4c3e-489ae5324507"},"destination":{"id":"d97a0942-c7c5-317c-b3b1-518f27df5c5b","type":"FUNNEL","groupId":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc","name":"Funnel","comments":"","instanceIdentifier":"d4f0e789-018d-1000-d183-432e262799f5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc"},{"identifier":"393d2e80-4032-37b7-9c2e-a3daf75ae7b9","instanceIdentifier":"d4f1149d-018d-1000-d01b-f2253ffac52d","name":"","source":{"id":"ca6d806e-45b8-349e-ad8c-de9bc53f634c","type":"PROCESSOR","groupId":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc","name":"GetFile","comments":"","instanceIdentifier":"d4ef505c-018d-1000-39b6-a23c99a1776f"},"destination":{"id":"52b65fdc-5706-3bd2-8a35-1597ee8bee41","type":"PROCESSOR","groupId":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc","name":"ControlRate","comments":"","instanceIdentifier":"d4efc3bc-018d-1000-4c3e-489ae5324507"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc"}],"labels":[],"funnels":[{"identifier":"d97a0942-c7c5-317c-b3b1-518f27df5c5b","instanceIdentifier":"d4f0e789-018d-1000-d183-432e262799f5","position":{"x":2600.0,"y":664.0},"componentType":"FUNNEL","groupIdentifier":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc"},{"identifier":"8178b448-954c-3416-8ff4-32276f9d23c9","instanceIdentifier":"d4f0cedb-018d-1000-8403-0be1560bccb1","position":{"x":2992.0,"y":672.0},"componentType":"FUNNEL","groupIdentifier":"214f89da-2935-3d2e-ad6b-8d4c68f15cfc"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3a6b9af9-0984-395c-9d0d-e7805952ccd6","instanceIdentifier":"ff070706-018d-1000-62b3-7146f6e28c01","name":"","source":{"id":"bf1e74e5-e717-38e5-b018-e6c37dd89a75","type":"OUTPUT_PORT","groupId":"42c463aa-3b57-36aa-b062-9f18ba8e6056","name":"local_out","comments":"","instanceIdentifier":"ff06666d-018d-1000-1fd1-5e05c8a1e2f6"},"destination":{"id":"05d43e46-50a7-3df9-a9c5-5f7d76374072","type":"FUNNEL","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"Funnel","comments":"","instanceIdentifier":"ff0500ef-018d-1000-b8ac-42062eb4f70b"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"1e220bd2-346b-3a41-b573-80723f9fdee2","instanceIdentifier":"ff2d966a-018d-1000-710f-11f6c846073e","name":"","source":{"id":"bf1e74e5-e717-38e5-b018-e6c37dd89a75","type":"OUTPUT_PORT","groupId":"20a05bce-8f55-348a-af64-7c48f2de82cc","name":"local_out","comments":"","instanceIdentifier":"3903e9cb-11cb-3f5b-0806-a64a3538e6e0"},"destination":{"id":"9d4ded27-9b38-31fb-a279-0fc834bdd37f","type":"FUNNEL","groupId":"ffe1d42e-1443-3f40-bd91-efb96b55910a","name":"Funnel","comments":"","instanceIdentifier":"ff2d76f7-018d-1000-d0a6-069363fdb665"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"}],"labels":[],"funnels":[{"identifier":"9d4ded27-9b38-31fb-a279-0fc834bdd37f","instanceIdentifier":"ff2d76f7-018d-1000-d0a6-069363fdb665","position":{"x":3416.0,"y":864.0},"componentType":"FUNNEL","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"05d43e46-50a7-3df9-a9c5-5f7d76374072","instanceIdentifier":"ff0500ef-018d-1000-b8ac-42062eb4f70b","position":{"x":3448.0,"y":472.0},"componentType":"FUNNEL","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"}],"controllerServices":[{"identifier":"4dd9a8e3-93b2-39a9-9c21-ead7809e4eac","instanceIdentifier":"d51c5eff-018d-1000-20e9-7ee73cae2a2f","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"},{"identifier":"0b23ffbb-6ea1-3ba7-86e7-3c41e60c6ff1","instanceIdentifier":"00154307-018e-1000-0efa-2e4e83119664","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.0.0-M2"},"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":"admin","mongo-uri":"mongodb://admin:admin@localhost:27017","mongo-write-concern":"ACKNOWLEDGED"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"mongo-write-concern":{"name":"mongo-write-concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ffe1d42e-1443-3f40-bd91-efb96b55910a"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}