nifi/Projecto1.json
{"flowContents":{"identifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c","instanceIdentifier":"16f41ecd-aa02-341e-f69f-5e5cd06aedc3","name":"Projecto1","comments":"","position":{"x":1512.0,"y":608.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"97beb7bb-3521-3d83-9318-096f6b39b988","instanceIdentifier":"60da6c38-21b7-31d2-e0e7-92f71e6e2fc8","name":"GetFile","comments":"","position":{"x":744.0,"y":112.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"3 sec","Input Directory":"/data/proyecto1/files","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":".*\\.json$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"e282ff42-98a4-311e-bbe2-c25dc57432cd","instanceIdentifier":"008b23f8-3676-39a6-c366-f588ba0e29f7","name":"RouteOnAttribute","comments":"","position":{"x":736.0,"y":560.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","isSavingAccount":"${accountType:equals('savings')}","IsCurrentAccoount":"${accountType:equals('current')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isSavingAccount":{"name":"isSavingAccount","displayName":"isSavingAccount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"IsCurrentAccoount":{"name":"IsCurrentAccoount","displayName":"IsCurrentAccoount","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"092cffca-ff02-3e63-8ee9-369d0564fc42","instanceIdentifier":"b9f4d8ba-f473-3140-3bfd-5c135260a60f","name":"PutFileSavings","comments":"","position":{"x":512.0,"y":832.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/data/proyecto1/savings","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"ee7df4e5-3599-304e-a006-a1d4a1082c71","instanceIdentifier":"9f2b2b96-df7e-3324-99c8-1036febafccf","name":"PutFileCurrent","comments":"","position":{"x":1128.0,"y":784.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/data/proyecto1/current","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","instanceIdentifier":"f75c0f11-1483-376c-c8ff-4cd4fefd8264","name":"EvaluateJsonPath","comments":"","position":{"x":728.0,"y":336.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","accountType":"$.accountType","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"accountType":{"name":"accountType","displayName":"accountType","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"629f7af3-9af4-3b84-a92e-100a391a7b26","instanceIdentifier":"bb45b459-09a6-34e3-fd42-2b05ac3f87e6","name":"","source":{"id":"092cffca-ff02-3e63-8ee9-369d0564fc42","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileSavings","comments":"","instanceIdentifier":"b9f4d8ba-f473-3140-3bfd-5c135260a60f"},"destination":{"id":"c85ce8c2-e0ae-3213-b26a-54c7e6acbeb1","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"7fc05143-b137-3679-811d-5d4fcef24098"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"b9af343f-1d6b-3c56-b2a7-e1677de2cc08","instanceIdentifier":"0b0f820e-5e69-3a3c-4326-fb5602b5efe8","name":"","source":{"id":"97beb7bb-3521-3d83-9318-096f6b39b988","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"GetFile","comments":"","instanceIdentifier":"60da6c38-21b7-31d2-e0e7-92f71e6e2fc8"},"destination":{"id":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f75c0f11-1483-376c-c8ff-4cd4fefd8264"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"2da5d8c6-0a38-385d-bd5d-fce346af2a31","instanceIdentifier":"1f4a597d-e7f4-3f2a-2e96-acd7af571849","name":"","source":{"id":"ee7df4e5-3599-304e-a006-a1d4a1082c71","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileCurrent","comments":"","instanceIdentifier":"9f2b2b96-df7e-3324-99c8-1036febafccf"},"destination":{"id":"efe64e75-6b47-35f1-b08e-07b550fb75a7","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"3f610652-8050-32fc-f6e6-199f9baece38"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"3b66f759-d110-345a-ae9b-fd9c3f5ac112","instanceIdentifier":"dc70a416-46eb-333a-3405-ef4ed4ffc09e","name":"","source":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"008b23f8-3676-39a6-c366-f588ba0e29f7"},"destination":{"id":"ee7df4e5-3599-304e-a006-a1d4a1082c71","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileCurrent","comments":"","instanceIdentifier":"9f2b2b96-df7e-3324-99c8-1036febafccf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["IsCurrentAccoount"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"01a5e80c-29ee-3e91-9611-e5a2578244a3","instanceIdentifier":"4e688483-4797-3a91-f453-e77e4454f14a","name":"","source":{"id":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f75c0f11-1483-376c-c8ff-4cd4fefd8264"},"destination":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"008b23f8-3676-39a6-c366-f588ba0e29f7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"505a59b2-baa0-3a73-a7d5-1b0404c0e0ad","instanceIdentifier":"24f0aa3f-fb30-39d8-f21c-e070ec041496","name":"","source":{"id":"092cffca-ff02-3e63-8ee9-369d0564fc42","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileSavings","comments":"","instanceIdentifier":"b9f4d8ba-f473-3140-3bfd-5c135260a60f"},"destination":{"id":"4fe6c5ad-3491-35dc-b98a-e0d3c317299e","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"e24799cf-55f2-3810-6173-e01fa5c5a93d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"aafc08fb-5237-3967-85c7-a1bcb6cf7272","instanceIdentifier":"62e4235f-aa02-3293-d5b9-a2011fa186f2","name":"","source":{"id":"fe8cc3a3-cb21-30c4-8699-005439dcdf25","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f75c0f11-1483-376c-c8ff-4cd4fefd8264"},"destination":{"id":"faedba2c-c740-3757-807c-86a5f21e8998","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"6b7fc195-7236-3ded-2482-8056f60d7804"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"db1ae174-8e64-331a-9720-729e6ab26a78","instanceIdentifier":"b6a78fa5-717b-3a16-f48e-4ce3d6fb7bfe","name":"","source":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"008b23f8-3676-39a6-c366-f588ba0e29f7"},"destination":{"id":"092cffca-ff02-3e63-8ee9-369d0564fc42","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileSavings","comments":"","instanceIdentifier":"b9f4d8ba-f473-3140-3bfd-5c135260a60f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["isSavingAccount"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"7ca8ddbb-c4e5-3ad0-aff8-cb906ed1b844","instanceIdentifier":"a0892df0-64f2-34a1-71ab-6c00948c1ea2","name":"","source":{"id":"e282ff42-98a4-311e-bbe2-c25dc57432cd","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"RouteOnAttribute","comments":"","instanceIdentifier":"008b23f8-3676-39a6-c366-f588ba0e29f7"},"destination":{"id":"02de3df9-6d90-31c9-89a8-1d25a438480a","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"da702aa0-ac46-3b6d-d770-42d2899da52c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"9d84084d-ff85-33ff-81d8-600aad33ac13","instanceIdentifier":"cfa6d7dc-5e70-3451-3d70-09b4530a3d10","name":"","source":{"id":"ee7df4e5-3599-304e-a006-a1d4a1082c71","type":"PROCESSOR","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"PutFileCurrent","comments":"","instanceIdentifier":"9f2b2b96-df7e-3324-99c8-1036febafccf"},"destination":{"id":"06e4a714-6bed-34b9-bc9c-897a8a1c96bb","type":"FUNNEL","groupId":"4d048603-0d9f-30fe-becf-6d772d7bf23c","name":"Funnel","comments":"","instanceIdentifier":"321aebd8-f88d-38a6-05ed-9307db57a8a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"}],"labels":[],"funnels":[{"identifier":"4fe6c5ad-3491-35dc-b98a-e0d3c317299e","instanceIdentifier":"e24799cf-55f2-3810-6173-e01fa5c5a93d","position":{"x":472.0,"y":1064.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"efe64e75-6b47-35f1-b08e-07b550fb75a7","instanceIdentifier":"3f610652-8050-32fc-f6e6-199f9baece38","position":{"x":1464.0,"y":1064.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"02de3df9-6d90-31c9-89a8-1d25a438480a","instanceIdentifier":"da702aa0-ac46-3b6d-d770-42d2899da52c","position":{"x":1344.0,"y":608.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"c85ce8c2-e0ae-3213-b26a-54c7e6acbeb1","instanceIdentifier":"7fc05143-b137-3679-811d-5d4fcef24098","position":{"x":824.0,"y":1056.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"faedba2c-c740-3757-807c-86a5f21e8998","instanceIdentifier":"6b7fc195-7236-3ded-2482-8056f60d7804","position":{"x":1384.0,"y":368.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"},{"identifier":"06e4a714-6bed-34b9-bc9c-897a8a1c96bb","instanceIdentifier":"321aebd8-f88d-38a6-05ed-9307db57a8a2","position":{"x":1176.0,"y":1072.0},"componentType":"FUNNEL","groupIdentifier":"4d048603-0d9f-30fe-becf-6d772d7bf23c"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}