nifi/ReplaceText2.json
{"flowContents":{"identifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","instanceIdentifier":"c85f0475-018e-1000-3651-eb7eeb9c98db","name":"ReplaceText2","comments":"","position":{"x":3792.0,"y":448.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"648d43f9-389a-3549-b9a1-be1f49999408","instanceIdentifier":"b41d14a6-018e-1000-9e6f-b99d8fad3cd6","name":"EvaluateJsonPath","comments":"","position":{"x":3672.0,"y":1464.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","fields":"$.fields[0]","db":"$.db","table":"$.table","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fields":{"name":"fields","displayName":"fields","identifiesControllerService":false,"sensitive":false,"dynamic":true},"db":{"name":"db","displayName":"db","identifiesControllerService":false,"sensitive":false,"dynamic":true},"table":{"name":"table","displayName":"table","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"24537a85-dfa0-3e1c-8135-f77e27558c17","instanceIdentifier":"b45a9642-018e-1000-81de-625e0d22c6d6","name":"UpdateCounter","comments":"","position":{"x":3672.0,"y":2112.0},"type":"org.apache.nifi.processors.standard.UpdateCounter","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"counter-name":"MyCounter","delta":"1"},"propertyDescriptors":{"counter-name":{"name":"counter-name","displayName":"Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"delta":{"name":"delta","displayName":"Delta","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"c131f77a-5e37-3841-a5a2-aaeb81b8ba0a","instanceIdentifier":"b41d4fd3-018e-1000-3caf-90ac87c31fc6","name":"GenerateFlowFile","comments":"","position":{"x":3680.0,"y":1224.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\"db\": \"users\", \"table\": \"accounts\", \"fields\": [\"name\", \"age\"]}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"7171653a-3e94-3d66-8b50-97c80b29a1fa","instanceIdentifier":"b4276c58-018e-1000-9d33-b388aa58f6ab","name":"ReplaceText","comments":"","position":{"x":3656.0,"y":1696.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"${db}, ${table}, ${field}, alpha","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"8fba41ee-45b5-386d-928f-d95aabcd5da4","instanceIdentifier":"b440e9a0-018e-1000-a9cc-350379d5abc5","name":"ExecuteSQL","comments":"","position":{"x":3664.0,"y":1912.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"4dd9a8e3-93b2-39a9-9c21-ead7809e4eac","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"select * from ${table};","dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"83e2d54d-ad63-324a-ab6e-d3b2d43901db","instanceIdentifier":"b45ba642-018e-1000-a8ba-9d26252aebe7","name":"","source":{"id":"8fba41ee-45b5-386d-928f-d95aabcd5da4","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"ExecuteSQL","comments":"","instanceIdentifier":"b440e9a0-018e-1000-a9cc-350379d5abc5"},"destination":{"id":"24537a85-dfa0-3e1c-8135-f77e27558c17","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"UpdateCounter","comments":"","instanceIdentifier":"b45a9642-018e-1000-81de-625e0d22c6d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"dd0f16e2-46f4-3f4f-96ba-1c33205774c2","instanceIdentifier":"b446e7ab-018e-1000-f16b-ba56e1966a8b","name":"","source":{"id":"8fba41ee-45b5-386d-928f-d95aabcd5da4","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"ExecuteSQL","comments":"","instanceIdentifier":"b440e9a0-018e-1000-a9cc-350379d5abc5"},"destination":{"id":"9d3e8080-4c66-3e3d-b654-7d2029ffcdc5","type":"FUNNEL","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"Funnel","comments":"","instanceIdentifier":"b446d13f-018e-1000-962a-60031344202a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"010336b4-1b90-31a3-aea9-ce0bcfec2eb0","instanceIdentifier":"b4201650-018e-1000-c131-daf6494bf603","name":"","source":{"id":"648d43f9-389a-3549-b9a1-be1f49999408","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b41d14a6-018e-1000-9e6f-b99d8fad3cd6"},"destination":{"id":"342bd0ae-eaef-33b5-995a-9600c05c1bdd","type":"FUNNEL","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"Funnel","comments":"","instanceIdentifier":"b41ff6e2-018e-1000-10b3-efa918258c68"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"3c10b42c-1e06-3a03-bbb8-7dd3522f3905","instanceIdentifier":"b428fae0-018e-1000-5ac1-c44f8beaaebf","name":"","source":{"id":"7171653a-3e94-3d66-8b50-97c80b29a1fa","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"ReplaceText","comments":"","instanceIdentifier":"b4276c58-018e-1000-9d33-b388aa58f6ab"},"destination":{"id":"fa635c0c-a011-3fc2-a362-638e84a638c0","type":"FUNNEL","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"Funnel","comments":"","instanceIdentifier":"b428de1c-018e-1000-3e61-6bf3bdc4ff4a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"05c5e627-a8ae-3d77-b7c4-ca8ecd643480","instanceIdentifier":"b45bb4fb-018e-1000-654c-94b6d8c2defb","name":"","source":{"id":"24537a85-dfa0-3e1c-8135-f77e27558c17","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"UpdateCounter","comments":"","instanceIdentifier":"b45a9642-018e-1000-81de-625e0d22c6d6"},"destination":{"id":"3b10e0f0-8734-32d2-8c11-8b2492e1fcb7","type":"FUNNEL","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"Funnel","comments":"","instanceIdentifier":"b41fb172-018e-1000-e527-d85f5de338da"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"48df45ef-6b52-3e72-b3b5-cc09fa976966","instanceIdentifier":"b428a302-018e-1000-d95e-7206ab8c996e","name":"","source":{"id":"648d43f9-389a-3549-b9a1-be1f49999408","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b41d14a6-018e-1000-9e6f-b99d8fad3cd6"},"destination":{"id":"7171653a-3e94-3d66-8b50-97c80b29a1fa","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"ReplaceText","comments":"","instanceIdentifier":"b4276c58-018e-1000-9d33-b388aa58f6ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"6b0a0a74-4ac2-30c2-bc01-41d3774a10ab","instanceIdentifier":"b4469425-018e-1000-5582-d752d3f56a3f","name":"","source":{"id":"7171653a-3e94-3d66-8b50-97c80b29a1fa","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"ReplaceText","comments":"","instanceIdentifier":"b4276c58-018e-1000-9d33-b388aa58f6ab"},"destination":{"id":"8fba41ee-45b5-386d-928f-d95aabcd5da4","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"ExecuteSQL","comments":"","instanceIdentifier":"b440e9a0-018e-1000-a9cc-350379d5abc5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"dcdec6cf-6cb9-357d-89c3-49d983067074","instanceIdentifier":"b41e4b52-018e-1000-29a8-bf42c7db305e","name":"","source":{"id":"c131f77a-5e37-3841-a5a2-aaeb81b8ba0a","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"GenerateFlowFile","comments":"","instanceIdentifier":"b41d4fd3-018e-1000-3caf-90ac87c31fc6"},"destination":{"id":"648d43f9-389a-3549-b9a1-be1f49999408","type":"PROCESSOR","groupId":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"b41d14a6-018e-1000-9e6f-b99d8fad3cd6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"}],"labels":[],"funnels":[{"identifier":"fa635c0c-a011-3fc2-a362-638e84a638c0","instanceIdentifier":"b428de1c-018e-1000-3e61-6bf3bdc4ff4a","position":{"x":4352.0,"y":1736.0},"componentType":"FUNNEL","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"9d3e8080-4c66-3e3d-b654-7d2029ffcdc5","instanceIdentifier":"b446d13f-018e-1000-962a-60031344202a","position":{"x":4352.0,"y":1936.0},"componentType":"FUNNEL","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"3b10e0f0-8734-32d2-8c11-8b2492e1fcb7","instanceIdentifier":"b41fb172-018e-1000-e527-d85f5de338da","position":{"x":3768.0,"y":2328.0},"componentType":"FUNNEL","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"},{"identifier":"342bd0ae-eaef-33b5-995a-9600c05c1bdd","instanceIdentifier":"b41ff6e2-018e-1000-10b3-efa918258c68","position":{"x":4344.0,"y":1504.0},"componentType":"FUNNEL","groupIdentifier":"e65e6a6d-9a3c-3a51-9ffa-ead86c17d4a8"}],"controllerServices":[{"identifier":"4dd9a8e3-93b2-39a9-9c21-ead7809e4eac","instanceIdentifier":"d51c5eff-018d-1000-20e9-7ee73cae2a2f","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0-M2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c85f0475-018e-1000-3651-eb7eeb9c98db"}],"parameterContextName":"PContext","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"PContext":{"name":"PContext","parameters":[{"name":"login","description":"","sensitive":false,"provided":false,"value":"admin"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}