nifi/RouteOnHttpStatusCode.json
{"flowContents":{"identifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2","instanceIdentifier":"e6432734-018e-1000-885f-ba9597102a84","name":"RouteOnHttpStatusCode","comments":"","position":{"x":320.0,"y":1048.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ebd4a6cc-1922-342f-bdcd-b57c5f944180","instanceIdentifier":"e6366f09-018e-1000-5efd-4e8071b3ce46","name":"ExtractText","comments":"","position":{"x":3248.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","url":".*","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"978e34ec-a956-39e3-9971-8d1a2bb5532d","instanceIdentifier":"e62e3a38-018e-1000-4c0d-bde02f8e9298","name":"GenerateFlowFile","comments":"","position":{"x":3240.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"https://httpbin.org/status/200\nhttps://httpbin.org/status/250","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"ed242aad-a46a-3625-8edf-1f672363a8eb","instanceIdentifier":"e62ed100-018e-1000-5fcc-51cdada91c73","name":"SplitText","comments":"","position":{"x":3248.0,"y":-424.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"f4d530ba-4e28-34be-bd8c-103219a68ef7","instanceIdentifier":"e6202dba-018e-1000-59c3-565f682e5fe8","name":"InvokeHTTP","comments":"","position":{"x":3248.0,"y":16.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"20 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"${url.0}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"182dd386-a1f3-3033-9cb3-fa6868da8442","instanceIdentifier":"e624f118-018e-1000-c621-091a1dd9e830","name":"RouteOnAttribute","comments":"","position":{"x":3248.0,"y":232.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"200":"${invokehttp.status.code:equals(200)}","Routing Strategy":"Route to Property name","250":"${invokehttp.status.code:equals(250)}"},"propertyDescriptors":{"200":{"name":"200","displayName":"200","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"250":{"name":"250","displayName":"250","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"616e9111-2ec9-3ae4-9f57-f8aff4eea43c","instanceIdentifier":"e6391847-018e-1000-c69e-5b6149c41f06","name":"","source":{"id":"ebd4a6cc-1922-342f-bdcd-b57c5f944180","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"ExtractText","comments":"","instanceIdentifier":"e6366f09-018e-1000-5efd-4e8071b3ce46"},"destination":{"id":"f4d530ba-4e28-34be-bd8c-103219a68ef7","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"InvokeHTTP","comments":"","instanceIdentifier":"e6202dba-018e-1000-59c3-565f682e5fe8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"726a0a4f-6c04-3b0e-be16-c04baa28e54e","instanceIdentifier":"e626e65e-018e-1000-ab27-a5a223ae5ca5","name":"","source":{"id":"182dd386-a1f3-3033-9cb3-fa6868da8442","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"RouteOnAttribute","comments":"","instanceIdentifier":"e624f118-018e-1000-c621-091a1dd9e830"},"destination":{"id":"57477601-60af-3ff6-8ff7-555a567cc378","type":"FUNNEL","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"Funnel","comments":"","instanceIdentifier":"e62084c0-018e-1000-e4fc-dbb27125bf05"},"labelIndex":1,"zIndex":0,"selectedRelationships":["200"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"adc8ebd2-d428-3265-bcf9-38c95645b4ff","instanceIdentifier":"e6257fa9-018e-1000-1cab-8d021fc320c3","name":"","source":{"id":"f4d530ba-4e28-34be-bd8c-103219a68ef7","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"InvokeHTTP","comments":"","instanceIdentifier":"e6202dba-018e-1000-59c3-565f682e5fe8"},"destination":{"id":"182dd386-a1f3-3033-9cb3-fa6868da8442","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"RouteOnAttribute","comments":"","instanceIdentifier":"e624f118-018e-1000-c621-091a1dd9e830"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"fd14ac5c-76a4-3f06-a4a9-e1fedff6b04d","instanceIdentifier":"e62ee86e-018e-1000-9971-7f97da8b1f10","name":"","source":{"id":"978e34ec-a956-39e3-9971-8d1a2bb5532d","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"GenerateFlowFile","comments":"","instanceIdentifier":"e62e3a38-018e-1000-4c0d-bde02f8e9298"},"destination":{"id":"ed242aad-a46a-3625-8edf-1f672363a8eb","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"SplitText","comments":"","instanceIdentifier":"e62ed100-018e-1000-5fcc-51cdada91c73"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"0568b470-e99e-35aa-9c4b-c285429cad54","instanceIdentifier":"e62720bc-018e-1000-42a3-ed137d40a0c4","name":"","source":{"id":"182dd386-a1f3-3033-9cb3-fa6868da8442","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"RouteOnAttribute","comments":"","instanceIdentifier":"e624f118-018e-1000-c621-091a1dd9e830"},"destination":{"id":"7cab6386-81a5-345b-8ab3-a872594ec9fa","type":"FUNNEL","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"Funnel","comments":"","instanceIdentifier":"e627034c-018e-1000-5d44-66ab2270eb12"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"45aba989-6b5e-3364-8ce9-16a7a9547d41","instanceIdentifier":"e626fa7c-018e-1000-caa3-6f922458be7f","name":"","source":{"id":"182dd386-a1f3-3033-9cb3-fa6868da8442","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"RouteOnAttribute","comments":"","instanceIdentifier":"e624f118-018e-1000-c621-091a1dd9e830"},"destination":{"id":"92870c2b-b4b0-3d43-ba20-c3ca8848bb8c","type":"FUNNEL","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"Funnel","comments":"","instanceIdentifier":"e626d1bb-018e-1000-193e-db8162c10424"},"labelIndex":1,"zIndex":0,"selectedRelationships":["250"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"704b2b94-4114-332a-a366-6158b97394c3","instanceIdentifier":"e636b422-018e-1000-be07-43f54d442224","name":"","source":{"id":"ed242aad-a46a-3625-8edf-1f672363a8eb","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"SplitText","comments":"","instanceIdentifier":"e62ed100-018e-1000-5fcc-51cdada91c73"},"destination":{"id":"ebd4a6cc-1922-342f-bdcd-b57c5f944180","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"ExtractText","comments":"","instanceIdentifier":"e6366f09-018e-1000-5efd-4e8071b3ce46"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"e9a13067-63fb-3110-9c57-cbcd08e8a24f","instanceIdentifier":"e620dfd0-018e-1000-a669-519e439b2cea","name":"","source":{"id":"f4d530ba-4e28-34be-bd8c-103219a68ef7","type":"PROCESSOR","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"InvokeHTTP","comments":"","instanceIdentifier":"e6202dba-018e-1000-59c3-565f682e5fe8"},"destination":{"id":"86f1d357-b309-33b3-85e6-1e4108894c53","type":"FUNNEL","groupId":"0bc00747-d643-300a-bf4e-a05b28fab5a2","name":"Funnel","comments":"","instanceIdentifier":"e6209045-018e-1000-a70f-afb26d9caed4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"}],"labels":[],"funnels":[{"identifier":"86f1d357-b309-33b3-85e6-1e4108894c53","instanceIdentifier":"e6209045-018e-1000-a70f-afb26d9caed4","position":{"x":3856.0,"y":40.0},"componentType":"FUNNEL","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"7cab6386-81a5-345b-8ab3-a872594ec9fa","instanceIdentifier":"e627034c-018e-1000-5d44-66ab2270eb12","position":{"x":3888.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"57477601-60af-3ff6-8ff7-555a567cc378","instanceIdentifier":"e62084c0-018e-1000-e4fc-dbb27125bf05","position":{"x":3192.0,"y":512.0},"componentType":"FUNNEL","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"},{"identifier":"92870c2b-b4b0-3d43-ba20-c3ca8848bb8c","instanceIdentifier":"e626d1bb-018e-1000-193e-db8162c10424","position":{"x":3624.0,"y":504.0},"componentType":"FUNNEL","groupIdentifier":"0bc00747-d643-300a-bf4e-a05b28fab5a2"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}